Repository module-federation/core, pull requests merged in 2024-05, with the labels that each got.

#2434 fix(typescript): add missing dep
  .changeset/fair-mirrors-design.md
  packages/typescript/package.json
  pnpm-lock.yaml
Labels: change: fix

#2435 fix(node): correct chunk evaluation order
  .changeset/fair-trains-search.md
  packages/node/src/runtimePlugin.ts
Labels: change: fix

#2439 docs: optimize english content
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/configure/_meta.json
  apps/website-new/docs/en/index.md
  apps/website-new/docs/en/practice/_meta.json
  apps/website-new/docs/en/practice/scenario/index.md
  apps/website-new/package-lock.json
  apps/website-new/rspress.config.ts
  apps/website-new/theme/components/HomeFooter/index.tsx
  apps/website-new/theme/components/HomeHero/index.tsx
  apps/website-new/theme/i18n/enUS.ts
Labels: change: docs

#2446 docs: fix rspack config demo
  apps/website-new/docs/en/guide/basic/rspack.mdx
  apps/website-new/docs/zh/guide/basic/rspack.mdx
Labels: change: docs

#2417 docs: document errorLoadRemote lifecycle calls
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
Labels: change: docs

#2465 fix: tsup config join
  .changeset/two-files-jog.md
  packages/dts-plugin/tsup.config.ts
  packages/native-federation-tests/tsup.config.ts
  packages/native-federation-typescript/tsup.config.ts
  packages/third-party-dts-extractor/tsup.config.ts
Labels: change: fix

#2471 fix(node): runtime plugin missing vars cause crash
  .changeset/thirty-days-know.md
  .github/workflows/build-and-test.yml
  .gitignore
  apps/3000-home/package.json
  apps/3001-shop/package.json
  apps/3002-checkout/package.json
  apps/node-host/package.json
  apps/node-host/webpack.config.js
  apps/node-local-remote/package.json
  apps/node-local-remote/webpack.config.js
  apps/node-remote/package.json
  apps/node-remote/project.json
  apps/node-remote/src/bootstrap.js
  apps/node-remote/src/main.js
  apps/node-remote/webpack.config.js
  package.json
  packages/node/src/runtimePlugin.ts
  pnpm-lock.yaml
Labels: change: fix

#2463 feat(sdk): auto public path support for json remote
  .changeset/chatty-lies-rush.md
  .changeset/dull-pumas-bow.md
  .changeset/young-apricots-rule.md
  .cursorignore
  .gitignore
  apps/manifest-demo/3009-webpack-provider/project.json
  apps/manifest-demo/3009-webpack-provider/webpack.config.js
  apps/manifest-demo/3010-rspack-provider/project.json
  apps/manifest-demo/3011-rspack-manifest-provider/project.json
  apps/manifest-demo/3012-rspack-js-entry-provider/project.json
  apps/node-remote/webpack.config.js
  apps/website-new/docs/en/guide/basic/webpack.mdx
  apps/website-new/docs/zh/guide/basic/webpack.mdx
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/managers/__tests__/ContainerManager.spec.ts
  packages/managers/src/ContainerManager.ts
  packages/manifest/src/ManifestManager.ts
  packages/manifest/src/StatsManager.ts
  packages/node/src/runtimePlugin.ts
  packages/sdk/__tests__/inferAutoPublicPath.spec.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/index.ts
Labels: change: feat

#2476 fix: should use userOptions.shared to apply hooks
  .changeset/forty-olives-hammer.md
  packages/runtime/src/core.ts
  packages/runtime/src/shared/index.ts
  packages/runtime/src/utils/share.ts
Labels: change: fix

#2492 fix: remoteEntry chunk may have css files which need to be exclude
  .changeset/quick-dodos-tie.md
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#2491 feat(esbuild): import maps runtime plugin
  apps/esbuild/mfe1/federation.config.js
  apps/esbuild/mfe1/main.ts
  apps/esbuild/shell/app.tsx
  apps/esbuild/shell/main.ts
  packages/esbuild/src/adapters/lib/plugin.js
  packages/esbuild/src/lib/core/createContainerTemplate.js
  packages/esbuild/src/lib/core/get-externals.js
  pnpm-lock.yaml
Labels: change: feat

#2479 feat(esbuild): Module Federation in single compilation
  apps/esbuild/build/build-common.js
  apps/esbuild/mfe1/federation.config.js
  apps/esbuild/mfe1/main.ts
  apps/esbuild/shell/app.tsx
  apps/esbuild/shell/main.ts
  packages/esbuild/src/adapters/lib/adapter.js
  packages/esbuild/src/adapters/lib/plugin.js
  packages/esbuild/src/lib/config/with-native-federation.js
  packages/esbuild/src/lib/core/bundle-exposed-and-mappings.js
  packages/esbuild/src/lib/core/createContainerTemplate.js
  packages/esbuild/src/lib/core/get-externals.js
  pnpm-lock.yaml
Labels: change: feat

#2502 feat: prevent css flickering
  .changeset/long-spies-march.md
  apps/modernjs-ssr/dynamic-nested-remote/src/components/Content.tsx
  apps/modernjs-ssr/nested-remote/src/components/Content.tsx
  apps/modernjs-ssr/nested-remote/src/modern-app-env.d.ts
  apps/modernjs/modern.config.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/DtsWorker.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/dts-plugin/src/dev-worker/DevWorker.ts
  packages/enhanced/src/lib/container/AsyncBoundaryPlugin.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/manifest/src/ManifestManager.ts
  packages/manifest/src/StatsManager.ts
  packages/modernjs/project.json
  packages/modernjs/src/cli/index.ts
  packages/modernjs/src/cli/manifest.ts
  packages/modernjs/src/cli/utils.ts
  packages/modernjs/src/runtime/MFReactComponent.tsx
  packages/modernjs/src/runtime/index.ts
  packages/modernjs/src/types/index.ts
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/runtime/src/index.ts
  packages/runtime/src/plugins/snapshot/SnapshotHandler.ts
  packages/runtime/src/remote/index.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#2503 fix(nextjs-mf): fix react/jsx-runtime required version warning
  .changeset/plenty-shoes-grab.md
  apps/website-new/docs/en/guide/framework/nextjs.mdx
  apps/website-new/docs/en/practice/frameworks/next/presets.mdx
  apps/website-new/docs/zh/guide/framework/nextjs.mdx
  apps/website-new/docs/zh/practice/frameworks/next/presets.mdx
  packages/nextjs-mf/README.md
  packages/nextjs-mf/src/internal.ts
Labels: change: fix

#2501 feat(esbuild): json remote manifest
  packages/esbuild/src/adapters/lib/adapter.js
  packages/esbuild/src/adapters/lib/containerPlugin.ts
  packages/esbuild/src/adapters/lib/containerReference.ts
  packages/esbuild/src/adapters/lib/linkRemotesPlugin.ts
  packages/esbuild/src/adapters/lib/manifest.js
  packages/esbuild/src/adapters/lib/plugin.js
  packages/esbuild/src/adapters/lib/plugin.ts
  packages/esbuild/src/adapters/lib/react-replacements.d.ts
  packages/esbuild/src/adapters/lib/react-replacements.js
  packages/esbuild/src/lib/config/federation-config.d.ts
  packages/esbuild/src/lib/config/with-native-federation.js
  packages/esbuild/src/lib/core/createContainerTemplate.ts
  pnpm-lock.yaml
Labels: change: feat

#2433 feat(sdk): script timeout
  .changeset/selfish-trainers-repeat.md
  apps/manifest-demo/3008-webpack-host/@mf-types/index.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/js-entry-provider/Component.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/js-entry-provider/apis.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/js-entry-provider/compiled-types/apps/manifest-demo/3012-rspack-js-entry-provider/src/App.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/js-entry-provider/compiled-types/apps/manifest-demo/3012-rspack-js-entry-provider/src/asyncFile.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/manifest-provider/Component.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/manifest-provider/apis.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/manifest-provider/compiled-types/apps/manifest-demo/3011-rspack-manifest-provider/src/App.d.ts
  apps/manifest-demo/3008-webpack-host/@mf-types/manifest-provider/compiled-types/apps/manifest-demo/3011-rspack-manifest-provider/src/asyncFile.d.ts
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
  packages/runtime/src/core.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/utils/load.ts
  packages/runtime/src/utils/preload.ts
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: feat

#2440 feat(webpack-bundler-runtime): create container function
  .changeset/new-eyes-hang.md
  package.json
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/project.json
  packages/webpack-bundler-runtime/src/container.ts
Labels: change: feat

#2499 fix(nextjs-mf): delete duplicate code lines in nextjs-mf
  .changeset/poor-dots-confess.md
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
Labels: change: fix

#2516 fix(node): missing variable in runtime plugin error call
  .changeset/funny-parents-sneeze.md
  packages/node/src/runtimePlugin.ts
Labels: change: fix

#2515 fix(runtime): correct type structure for preload remote hook
  .changeset/bright-items-draw.md
  packages/runtime/src/remote/index.ts
Labels: change: fix

#2533 docs: fixes parameter name typo
  apps/website-new/docs/en/configure/index.mdx
Labels: change: docs

#2532 docs: format rsbuild zh chapter
  apps/website-new/docs/zh/practice/frameworks/react/index.mdx
Labels: change: docs

#2531 fix(runtime): resolve the problem that static resource preload is not reused
  .changeset/unlucky-teachers-yawn.md
  packages/sdk/src/dom.ts
Labels: change: fix

#2518 fix: only delete can be configurable descriptor
  .changeset/popular-fishes-speak.md
  packages/runtime/src/remote/index.ts
Labels: change: fix

#2554 fix(esbuild): async init
  apps/esbuild/build/build-common.js
  apps/esbuild/package.json
  apps/esbuild/shell/main.ts
  apps/esbuild/tsconfig.json
  packages/esbuild/src/adapters/lib/containerPlugin.ts
  packages/esbuild/src/adapters/lib/containerReference.ts
Labels: change: fix
