Repository module-federation/core, pull requests merged in 2024-03, with the labels that each got.

#2134 fix: native federation behaviour on vite
  .changeset/giant-pears-admire.md
  package.json
  packages/native-federation-tests/package.json
  packages/native-federation-tests/src/index.test.ts
  packages/native-federation-tests/src/index.ts
  packages/native-federation-typescript/package.json
  packages/native-federation-typescript/src/index.test.ts
  packages/native-federation-typescript/src/index.ts
  pnpm-lock.yaml
Labels: change: fix

#2067 fix(runtime): adding reject to args in loadEsmEntry
  .changeset/late-wasps-watch.md
  packages/runtime/src/utils/load.ts
Labels: change: fix

#2147 fix(node): install encoding peer dep
  .changeset/tender-steaks-know.md
  packages/node/package.json
  pnpm-lock.yaml
Labels: change: fix

#2135 feat(enhanced): chunk allocation per runtime chunk
  .changeset/early-kids-suffer.md
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationInitModule.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  pnpm-lock.yaml
Labels: change: feat

#2149 fix(nextjs-mf): fix next 14 loader rules
  apps/3000-home/package.json
  apps/3001-shop/package.json
  apps/3002-checkout/package.json
  package.json
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  pnpm-lock.yaml
Labels: change: fix

#2152 fix(runtime): The preload link is inserted without specific purpose
  .changeset/itchy-ravens-give.md
  packages/sdk/src/dom.ts
Labels: change: fix

#2156 fix(nextjs-mf): fix static method function proxy assignment
  .changeset/gold-cherries-stare.md
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: fix

#2175 fix(manifest): apply stats options
  .changeset/shiny-feet-buy.md
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#2172 fix(website): fixed build and deployment for website and docs
  apps/docs-ui/src/app/js/vendor/highlight.bundle.js
  apps/website/adapters/netlify-edge/vite.config.ts
  apps/website/project.json
  apps/website/src/components/navbar/navbar.tsx
  apps/website/src/root.tsx
  apps/website/src/speak-config.ts
  apps/website/src/speak-functions.ts
  apps/website/vite.config.ts
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: dependencies, change: fix

#2171 feat: add registerRemotes api
  .changeset/swift-boats-cough.md
  packages/runtime/README.md
  packages/runtime/__tests__/register-remotes.spec.ts
  packages/runtime/__tests__/resources/register-remotes/app1/federation-remote-entry.js
  packages/runtime/__tests__/resources/register-remotes/app1/federation-remote-entry2.js
  packages/runtime/__tests__/resources/register-remotes/app2/federation-remote-entry.js
  packages/runtime/src/core.md
  packages/runtime/src/core.ts
  packages/runtime/src/index.ts
  packages/runtime/src/utils/load.ts
Labels: change: feat

#2226 fix(nextjs-mf): only call module factory in valid conditions
  .changeset/fast-games-report.md
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: fix

#2232 fix(nextjs-mf): cache bust remote urls
  .changeset/thick-birds-clap.md
  apps/3001-shop/pages/shop/index.tsx
  apps/3002-checkout/pages/checkout/index.tsx
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: fix

#2234 fix(nextjs-mf): deprecate utils use
  .changeset/great-radios-check.md
  packages/nextjs-mf/README.md
  packages/nextjs-mf/utils/index.ts
Labels: change: fix
