Repository module-federation/core, pull requests merged in 2024-12, with the labels that each got.

#3316 fix(rspack): export container and container reference plugins
  .changeset/three-doors-bow.md
  packages/rspack/package.json
  packages/rspack/project.json
  packages/rspack/src/index.ts
Labels: change: fix

#3318 fix: immediately inject global runtime plugins
  .changeset/great-glasses-retire.md
  packages/chrome-devtools/manifest.json
  packages/chrome-devtools/modern.config.ts
  packages/chrome-devtools/project.json
  packages/chrome-devtools/src/utils/chrome/fast-refresh-init.ts
  packages/chrome-devtools/src/utils/chrome/snapshot-plugin-init.ts
Labels: change: fix

#3307 feat(enhanced): add request to consume share
  .changeset/brown-badgers-fetch.md
  packages/enhanced/src/declarations/plugins/sharing/ConsumeSharedPlugin.d.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedModule.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedPlugin.ts
  packages/enhanced/src/lib/sharing/resolveMatchedConfigs.ts
  packages/enhanced/src/schemas/sharing/ConsumeSharedPlugin.check.ts
  packages/enhanced/src/schemas/sharing/ConsumeSharedPlugin.ts
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/loaders/multi-pkg-layer-loader.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/node_modules/lib2/index.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/node_modules/multi-pkg/thing1.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/node_modules/multi-pkg/thing2.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/src/index.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/tests/different-layers.test.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/tests/layer-inheritance.test.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/tests/lib-two.test.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/tests/prefixed-share.test.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/tests/unlayered-share.test.js
  packages/enhanced/test/configCases/sharing/layers-consume-loader/webpack.config.js
Labels: change: feat

#3329 docs: Add documentation for the manifest fetch hook
  apps/website-new/docs/en/plugin/dev/index.mdx
  packages/runtime/src/core.ts
Labels: change: docs

#3328 docs: update shared type definitions in Federation Runtime
  apps/website-new/docs/en/guide/basic/runtime.mdx
Labels: change: docs

#3327 fix(manifest): stats should add prefetchInterface if enable dataPrefetch
  .changeset/shaggy-ligers-teach.md
  packages/manifest/src/ManifestManager.ts
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3321 feat: add remote-entry script resource retry for retry-plugin
  .changeset/small-eyes-change.md
  apps/router-demo/router-host-2000/rsbuild.config.ts
  apps/router-demo/router-host-2000/src/App.tsx
  packages/retry-plugin/src/fetch-retry.ts
  packages/retry-plugin/src/index.ts
  packages/retry-plugin/src/types.d.ts
  packages/retry-plugin/src/util.ts
  packages/runtime/src/core.ts
  packages/runtime/src/module/index.ts
Labels: change: feat

#3339 feat(dts-plugin): allow users to specify a `cwd` to generate the types
  .changeset/real-otters-explode.md
  apps/website-new/docs/en/configure/dts.mdx
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#3347 fix(data-prefetch): the prefetch exports type is promise or function
  .changeset/nice-suns-eat.md
  packages/data-prefetch/src/prefetch.ts
Labels: change: fix

#3334 feat(enhanced): ProvideSharedPlugin loader layer support
  .changeset/shy-snails-battle.md
  packages/enhanced/src/declarations/plugins/sharing/ProvideSharedPlugin.d.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedModule.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedPlugin.ts
  packages/enhanced/src/lib/sharing/ProvideSharedDependency.ts
  packages/enhanced/src/lib/sharing/ProvideSharedModule.ts
  packages/enhanced/src/lib/sharing/ProvideSharedPlugin.ts
  packages/enhanced/src/schemas/sharing/ProviderSharedPlugin.check.ts
  packages/enhanced/src/schemas/sharing/ProviderSharedPlugin.ts
  packages/enhanced/test/configCases/sharing/layers-provides-loader/.gitignore
  packages/enhanced/test/configCases/sharing/layers-provides-loader/loaders/different-layer-loader.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/loaders/explicit-layer-loader.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/loaders/multi-pkg-layer-loader.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/loaders/react-layer-loader.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/node_modules/lib2/index.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/node_modules/multi-pkg/thing1.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/node_modules/multi-pkg/thing2.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/node_modules/react/index.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/node_modules/react/index2.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/package.json
  packages/enhanced/test/configCases/sharing/layers-provides-loader/shared/react-boundary.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/src/index.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/test.config.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/tests/different-layers.test.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/tests/lib-two.test.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/tests/prefixed-share.test.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/tests/unlayered-share.test.js
  packages/enhanced/test/configCases/sharing/layers-provides-loader/webpack.config.js
Labels: change: feat

#3349 fix(rspack): import plugin from sub path
  .changeset/six-yaks-teach.md
  packages/enhanced/src/rspack.ts
  packages/rspack/package.json
  packages/rspack/rollup.config.js
  packages/rspack/src/ModuleFederationPlugin.ts
Labels: change: fix

#3345 fix(dts-plugin): lazy emit subsequent type generations
  .changeset/twelve-dingos-ring.md
  .cursorignore
  apps/manifest-demo/3010-rspack-provider/rspack.config.js
  apps/react-ts-host/webpack.config.js
  apps/react-ts-nested-remote/webpack.config.js
  apps/react-ts-remote/rspack.config.js
  apps/react-ts-remote/webpack.config.js
  package.json
  packages/dts-plugin/src/core/lib/DTSManager.general.spec.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/dts-plugin/src/core/lib/archiveHandler.test.ts
  packages/dts-plugin/src/core/lib/consumeTypes.spec.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
Labels: change: fix

#3357 docs(runtime): update typescript definitions of init function
  apps/website-new/docs/en/guide/basic/runtime.mdx
Labels: change: docs

#3362 docs(retry-plugin): fix typo and clarify default retryDelay
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
Labels: change: docs

#3133 feat(retry-plugin): allow fallback function to receive failed URL
  .changeset/orange-goats-hope.md
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
  packages/retry-plugin/__tests__/retry.spec.ts
Labels: change: feat

#3360 fix(bridge-react): change all logs from info to debug in all bridge packages
  .changeset/brave-boxes-remain.md
  packages/bridge/bridge-react/src/create.tsx
  packages/bridge/bridge-react/src/provider.tsx
  packages/bridge/bridge-react/src/remote/index.tsx
  packages/bridge/bridge-react/src/router-v5.tsx
  packages/bridge/bridge-react/src/router-v6.tsx
  packages/bridge/bridge-react/src/router.tsx
  packages/bridge/vue3-bridge/src/create.ts
  packages/bridge/vue3-bridge/src/provider.ts
  packages/bridge/vue3-bridge/src/remoteApp.tsx
Labels: change: fix

#3400 feat(chrome-devtools): add customValueValidate
  .changeset/neat-jars-type.md
  packages/chrome-devtools/src/App.tsx
  packages/chrome-devtools/src/component/Form/index.tsx
  packages/chrome-devtools/src/component/Layout/index.tsx
  packages/chrome-devtools/src/utils/types/common.ts
Labels: change: feat

#3401 fix(dts-plugin): auto inject compiler output path to avoid duplicate zip file
  .changeset/lemon-turkeys-happen.md
  packages/dts-plugin/src/core/configurations/remotePlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/dts-plugin/src/core/interfaces/RemoteOptions.ts
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
Labels: change: fix

#3396 fix(manifest): add default exposes fields if enable disableAssetsAnalyze
  .changeset/metal-bags-admire.md
  packages/manifest/src/ModuleHandler.ts
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3410 feat(bridge-react): support basename passed by remote module props
  .changeset/twelve-pumpkins-film.md
  apps/router-demo/router-host-2000/src/App.tsx
  packages/bridge/bridge-react/src/remote/index.tsx
Labels: change: feat

#3348 fix(runtime): throw RUNTIME-008 Error when script resources load failed
  .changeset/smart-crabs-burn.md
  packages/error-codes/src/desc.ts
  packages/error-codes/src/error-codes.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#3371 feat(enhanced): layers support in module code generation
  packages/enhanced/src/lib/sharing/ProvideSharedModule.ts
  packages/enhanced/src/lib/sharing/ProvideSharedModuleFactory.ts
  packages/enhanced/src/lib/sharing/ProvideSharedPlugin.ts
  packages/enhanced/src/lib/sharing/ShareRuntimeModule.ts
  packages/enhanced/src/lib/sharing/utils.ts
  packages/enhanced/test/configCases/container/3-layers-full/App.js
  packages/enhanced/test/configCases/container/3-layers-full/ComponentA.js
  packages/enhanced/test/configCases/container/3-layers-full/ComponentALayers.js
  packages/enhanced/test/configCases/container/3-layers-full/index.js
  packages/enhanced/test/configCases/container/3-layers-full/layered-react-loader.js
  packages/enhanced/test/configCases/container/3-layers-full/node_modules/react.js
  packages/enhanced/test/configCases/container/3-layers-full/package.json
  packages/enhanced/test/configCases/container/3-layers-full/test.config.js
  packages/enhanced/test/configCases/container/3-layers-full/upgrade-react.js
  packages/enhanced/test/configCases/container/3-layers-full/webpack.config.js
  packages/enhanced/test/configCases/container/4-layers-full/App.js
  packages/enhanced/test/configCases/container/4-layers-full/ComponentB.js
  packages/enhanced/test/configCases/container/4-layers-full/ComponentC.js
  packages/enhanced/test/configCases/container/4-layers-full/index.js
  packages/enhanced/test/configCases/container/4-layers-full/node_modules/package.json
  packages/enhanced/test/configCases/container/4-layers-full/node_modules/react.js
  packages/enhanced/test/configCases/container/4-layers-full/package.json
  packages/enhanced/test/configCases/container/4-layers-full/test.config.js
  packages/enhanced/test/configCases/container/4-layers-full/upgrade-react.js
  packages/enhanced/test/configCases/container/4-layers-full/webpack.config.js
Labels: change: feat

#3373 fix(enhanced): abort the compile process if not find the expose modules
  .changeset/shaggy-flowers-cry.md
  apps/website-new/docs/en/guide/troubleshooting/_meta.json
  apps/website-new/docs/en/guide/troubleshooting/build/BUILD-001.mdx
  apps/website-new/docs/public/words-map.json
  apps/website-new/docs/zh/guide/troubleshooting/_meta.json
  apps/website-new/docs/zh/guide/troubleshooting/build/BUILD-001.mdx
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/ContainerEntryModule.ts
  packages/error-codes/src/desc.ts
  packages/error-codes/src/error-codes.ts
  packages/error-codes/src/index.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  pnpm-lock.yaml
Labels: change: fix

#3418 feat(website): add Runtime-008 for trouble-shooting chapter
  apps/website-new/docs/en/guide/troubleshooting/runtime/RUNTIME-008.mdx
  apps/website-new/docs/zh/guide/troubleshooting/runtime/RUNTIME-008.mdx
Labels: change: feat

#3370 docs: update a URL to contributing guidelines markdown file in feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: change: docs

#3394 fix(typo) "Code sharing、Dependency reuse" to "Code sharing, Dependency reuse"
  apps/website-new/docs/en/guide/start/index.mdx
Labels: change: fix
