Repository module-federation/core, pull requests merged in 2024-11, with the labels that each got.

#3151 fix: unlink storybook addon from package publish
  .changeset/config.json
Labels: change: fix

#3088 fix(modern-js-plugin): set cors responseHeaders as *
  .changeset/sixty-camels-ring.md
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/ssrPlugin.ts
Labels: change: fix

#3145 feat(retry-plugin): allow fallback function to receive failed URL
  .changeset/violet-fans-sleep.md
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
  packages/retry-plugin/__tests__/retry.spec.ts
  packages/retry-plugin/src/fetch-retry.ts
  packages/retry-plugin/src/types.d.ts
Labels: change: feat

#3158 fix(sdk): update rslog to fix type error
  .changeset/chilly-berries-look.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: change: fix

#3165 docs: handle chinese quick-start docs code errors
  apps/website-new/docs/zh/guide/start/quick-start.mdx
Labels: change: docs

#3163 fix(runtime): use document.defaultView to get real window object to solve csp issue
  .changeset/cyan-emus-prove.md
  packages/runtime/src/global.ts
Labels: change: fix

#3159 fix: esm files should use .mjs extention
  .changeset/popular-pillows-draw.md
  packages/data-prefetch/package.json
  packages/data-prefetch/rollup.config.js
  packages/data-prefetch/src/cli/index.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/runtime-tools/package.json
  packages/runtime-tools/rollup.config.js
  packages/runtime/package.json
  packages/runtime/rollup.config.js
  packages/sdk/package.json
  packages/sdk/rollup.config.js
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/rollup.config.js
Labels: change: fix

#3175 fix: parameter url for fetch retry options should not be necessary
  .changeset/little-insects-lick.md
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
  apps/website-new/docs/zh/plugin/plugins/retry-plugin.mdx
  packages/retry-plugin/src/fetch-retry.ts
  packages/retry-plugin/src/types.d.ts
Labels: change: fix

#3130 feat(bridge-plugin): support disable default alias setting in bridge
  .changeset/mean-squids-repair.md
  apps/router-demo/router-host-2000/rsbuild.config.ts
  packages/enhanced/src/wrapper/ModuleFederationPlugin.ts
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#3174 feat(runtime): pass all loader hooks to the fetch and script functions
  .changeset/lucky-buckets-add.md
  packages/runtime/src/remote/index.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/node.ts
  packages/sdk/src/types/hooks.ts
Labels: change: feat

#3178 fix(error-codes): esm file should use .mjs ext
  .changeset/config.json
  .changeset/unlucky-cats-move.md
  packages/error-codes/package.json
  packages/error-codes/project.json
  packages/error-codes/rollup.config.js
Labels: change: fix

#3176 fix(runtime): use loaded or loading shared if sharedStrategy is loaded-first
  .changeset/bright-guests-sip.md
  packages/runtime/__tests__/get-registered-share.spec.ts
  packages/runtime/src/utils/share.ts
Labels: change: fix

#3177 docs: remove rsbuild plugin from rspack part
  apps/website-new/docs/en/guide/basic/_meta.json
  apps/website-new/docs/en/guide/basic/rspack.mdx
  apps/website-new/docs/zh/guide/basic/_meta.json
  apps/website-new/docs/zh/guide/basic/rspack.mdx
Labels: change: docs

#3184 fix: patch/replace @changesets/assemble-release-plan to disable major on peer dep change
  .changeset/config.json
  .nxignore
  .prettierignore
  package.json
  packages/assemble-release-plan/.gitignore
  packages/assemble-release-plan/CHANGELOG.md
  packages/assemble-release-plan/README.md
  packages/assemble-release-plan/babel.config.js
  packages/assemble-release-plan/package.json
  packages/assemble-release-plan/src/README.md
  packages/assemble-release-plan/src/apply-links.ts
  packages/assemble-release-plan/src/determine-dependents.ts
  packages/assemble-release-plan/src/flatten-releases.ts
  packages/assemble-release-plan/src/increment.test.ts
  packages/assemble-release-plan/src/increment.ts
  packages/assemble-release-plan/src/index.test.ts
  packages/assemble-release-plan/src/index.ts
  packages/assemble-release-plan/src/match-fixed-constraint.ts
  packages/assemble-release-plan/src/test-utils.ts
  packages/assemble-release-plan/src/types.ts
  packages/assemble-release-plan/src/utils.ts
  packages/assemble-release-plan/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: change: fix

#3180 fix: fix windows path error
  .changeset/khaki-eggs-grab.md
  packages/storybook-addon/src/utils/with-module-federation-enhanced-rsbuild.ts
Labels: change: fix

#3185 fix: remove meaningless log
  .changeset/gorgeous-cups-perform.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: change: fix

#3186 docs: add runtime api type hints tip
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
  apps/website-new/docs/zh/guide/basic/type-prompt.mdx
Labels: change: docs

#3179 fix(runtime): use wrapper global instead of using globalThis directly
  .changeset/dry-bats-design.md
  packages/runtime/src/global.ts
  packages/runtime/src/remote/index.ts
Labels: change: fix

#3078 feat(enhanced): Recursive search for versions of shared dependencies
  .changeset/smooth-goats-knock.md
  packages/enhanced/src/lib/sharing/ConsumeSharedPlugin.ts
  packages/enhanced/src/lib/sharing/utils.ts
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/cjs/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/cjs/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/node_modules/lib/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/node_modules/lib/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/node_modules/transitive_lib/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/node_modules/transitive_lib/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-dual-mode/webpack.config.js
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/app1/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/app1/node_modules/lib2/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/app1/node_modules/lib2/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/app1/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/node_modules/lib1/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/node_modules/lib1/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/node_modules/lib2/index.js
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/node_modules/lib2/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/package.json
  packages/enhanced/test/configCases/sharing/share-plugin-monorepo/webpack.config.js
Labels: change: feat

#3187 fix(rsbuild-plugin): remove duplicate logs for shared modules
  .changeset/olive-meals-applaud.md
  packages/rsbuild-plugin/src/cli/index.ts
Labels: change: fix

#3173 fix: clear globalLoading cache in node env
  .changeset/beige-cheetahs-tap.md
  packages/node/src/utils/hot-reload.ts
  packages/runtime/src/global.ts
Labels: change: fix

#3194 docs(sdk): update README to new createLogger API
  packages/sdk/README.md
Labels: change: docs

#3202 fix(dts-plugin): hold the broker server if the remote not start locally
  .changeset/fair-plums-live.md
  packages/dts-plugin/src/server/DevServer.ts
Labels: change: fix

#3212 fix: call initializeSharing before load remote while shareStrategy is version first
  .changeset/nervous-tomatoes-marry.md
  packages/runtime/src/remote/index.ts
  packages/webpack-bundler-runtime/src/remotes.ts
Labels: change: fix

#3219 fix(managers): correct manifest shared configuration
  .changeset/tough-yaks-lay.md
  packages/managers/__tests__/SharedManager.spec.ts
  packages/managers/__tests__/__snapshots__/SharedManager.spec.ts.snap
  packages/managers/src/ContainerManager.ts
  packages/managers/src/PKGJsonManager.ts
  packages/managers/src/RemoteManager.ts
  packages/managers/src/SharedManager.ts
  packages/managers/tsconfig.json
Labels: change: fix

#3222 fix: create folder before writing bootstrap
  .changeset/clean-boats-swim.md
  packages/storybook-addon/src/utils/with-module-federation-enhanced-rsbuild.ts
Labels: change: fix

#2992 feat: add bridgeHook plugin system to support lifecycyle in bridge
  .changeset/great-feet-rule.md
  packages/bridge/bridge-react/package.json
  packages/bridge/bridge-react/src/create.tsx
  packages/bridge/bridge-react/src/provider.tsx
  packages/bridge/bridge-react/src/remote/index.tsx
  packages/bridge/bridge-react/src/router-v5.tsx
  packages/bridge/bridge-react/src/router.tsx
  packages/bridge/bridge-react/src/utils.ts
  packages/bridge/bridge-react/vite.config.ts
  packages/bridge/vue3-bridge/package.json
  packages/bridge/vue3-bridge/src/create.ts
  packages/bridge/vue3-bridge/src/provider.ts
  packages/bridge/vue3-bridge/src/remoteApp.tsx
  packages/runtime/src/core.ts
  packages/runtime/src/embedded.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/plugins/snapshot/SnapshotHandler.ts
  packages/runtime/src/type/config.ts
  packages/runtime/src/type/plugin.ts
  packages/runtime/src/utils/plugin.ts
  packages/runtime/src/utils/tool.ts
  pnpm-lock.yaml
Labels: change: feat

#3139 fix(modern-js-plugin): prevent components render multiple times if props change
  .changeset/tender-insects-agree.md
  packages/modernjs/src/runtime/createRemoteSSRComponent.tsx
Labels: change: fix

#3232 fix(bridge-react): wrap react-router-dom path resolve with try catch
  .changeset/ten-games-suffer.md
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  packages/bridge/bridge-react-webpack-plugin/src/utis.ts
  packages/bridge/bridge-react/src/router-v5.tsx
  packages/bridge/bridge-react/src/router-v6.tsx
  packages/bridge/bridge-react/src/utils.ts
  packages/bridge/bridge-react/vite.config.ts
Labels: change: fix

#3231 fix(storybook-addon): correct peerDependencies declaration
  .changeset/fifty-flies-impress.md
  packages/storybook-addon/package.json
  packages/storybook-addon/src/lib/storybook-addon.ts
  pnpm-lock.yaml
Labels: change: fix

#3236 fix(enhanced): remove resolve replacements
  .changeset/thick-baboons-hear.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
Labels: change: fix

#2726 feat(nextjs-mf): enable JSON manifest for NextJS
  .changeset/red-meals-sleep.md
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: feat

#3234 feat: add BridgeReactPlugin to get federation instance
  .changeset/small-bats-leave.md
  apps/router-demo/router-host-2000/src/App.tsx
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  packages/bridge/bridge-react/package.json
  packages/bridge/bridge-react/src/create.tsx
  packages/bridge/bridge-react/src/plugin.ts
  packages/bridge/bridge-react/src/provider.tsx
  packages/bridge/bridge-react/src/remote/index.tsx
  packages/bridge/bridge-react/vite.config.ts
  pnpm-lock.yaml
Labels: change: feat

#3223 fix(dts-plugin): do not regen types on hmr if dev false
  .changeset/honest-yaks-smoke.md
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
Labels: change: fix

#3251 fix(runtime): add @vite-ignore for dynamic import in loadEsmEntry
  .changeset/modern-experts-film.md
  packages/runtime/src/utils/load.ts
Labels: change: fix

#3261 fix(runtime): add define constant to help downgrade non-esm project
  .changeset/dirty-bikes-report.md
  .changeset/tasty-guests-shop.md
  packages/modernjs/package.json
  packages/modernjs/src/cli/utils.spec.ts
  packages/modernjs/src/cli/utils.ts
  packages/runtime/global.d.ts
  packages/runtime/src/utils/load.ts
Labels: change: fix

#3264 docs: include info about cross-loading esm and non esm
  apps/website-new/docs/en/guide/basic/runtime.mdx
  apps/website-new/docs/en/guide/troubleshooting/runtime/RUNTIME-001.mdx
Labels: change: docs

#3286 fix: print warn if user set watchOptions.ignored value as regexp type
  .changeset/beige-terms-check.md
  packages/modernjs/src/cli/utils.ts
Labels: change: fix

#3268 feat(vue3-bridge): add support for passing parameters to defineAsyncComponent
  .changeset/rude-berries-look.md
  apps/website-new/docs/en/practice/bridge/vue-bridge.mdx
  packages/bridge/vue3-bridge/src/create.ts
Labels: change: feat

#3291 fix: override watchOptions.ignored if the modernjs internal value is regexp
  .changeset/beige-terms-check.md
  .changeset/fuzzy-dots-beam.md
  apps/modernjs-ssr/host/modern.config.ts
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
  apps/website-new/docs/zh/guide/basic/type-prompt.mdx
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/utils.spec.ts
  packages/modernjs/src/cli/utils.ts
  packages/modernjs/src/interfaces/bundler.ts
Labels: change: fix
