Repository module-federation/core, pull requests merged in 2024-08, with the labels that each got.

#2818 feat(utilities): expose esm from package json
  .changeset/large-bikes-fail.md
  packages/utilities/package.json
Labels: change: feat

#2828 fix(enhanced): correct enhanced ModuleFederation types error
  .changeset/fifty-beans-jog.md
  packages/enhanced/src/wrapper/ModuleFederationPlugin.ts
Labels: change: fix

#2834 fix(enhanced): remove useless but has side effect export
  .changeset/friendly-pans-clean.md
  packages/enhanced/src/index.ts
Labels: change: fix

#2838 feat(runtime): provide users to mark share dependency as loaded #2789
  .changeset/giant-fishes-itch.md
  packages/runtime/src/type/config.ts
  packages/runtime/src/utils/share.ts
Labels: change: feat

#2813 fix(chrome-devtools): dependency graph display error
  packages/chrome-devtools/src/component/Graph/index.tsx
  packages/chrome-devtools/src/component/GraphItem/index.module.scss
Labels: change: fix

#2835 fix(modern-js-plugin): require node plugin on demand
  .changeset/gold-clocks-suffer.md
  packages/modernjs/src/cli/ssrPlugin.ts
  packages/node/package.json
Labels: change: fix

#2842 fix: no add default attrs to the element which is provided by users
  .changeset/itchy-mayflies-destroy.md
  .changeset/thin-ducks-share.md
  packages/runtime/src/core.ts
  packages/runtime/src/utils/preload.ts
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#2746 fix(runtime): provide error message when remote entry init fails
  .changeset/tiny-pugs-fetch.md
  packages/runtime/src/module/index.ts
Labels: change: fix

#2826 feat(runtime): add `loadEntry` hook
  .changeset/modern-suns-arrive.md
  packages/runtime/src/module/index.ts
  packages/runtime/src/remote/index.ts
  packages/runtime/src/utils/load.ts
  packages/runtime/src/utils/preload.ts
  packages/sdk/src/dom.ts
  packages/sdk/src/node.ts
  packages/sdk/src/types/hooks.ts
  packages/sdk/src/types/index.ts
Labels: change: feat

#2849 docs: add doc for error-catalog in "basic"
  apps/website-new/docs/en/guide/basic/_meta.json
  apps/website-new/docs/en/guide/basic/error-catalog.mdx
Labels: change: docs

#2870 feat: add shareStrategy option
  .changeset/tasty-hotels-obey.md
  apps/runtime-demo/3005-runtime-host/runtimePlugin.ts
  apps/runtime-demo/3005-runtime-host/webpack.config.js
  apps/runtime-demo/3006-runtime-remote/runtimePlugin.ts
  apps/runtime-demo/3006-runtime-remote/webpack.config.js
  apps/runtime-demo/3007-runtime-remote/webpack.config.js
  apps/website-new/docs/en/configure/_meta.json
  apps/website-new/docs/en/configure/shareStrategy.mdx
  apps/website-new/docs/en/guide/basic/error-catalog.mdx
  apps/website-new/docs/zh/configure/_meta.json
  apps/website-new/docs/zh/configure/shareStrategy.mdx
  packages/enhanced/README.md
  packages/enhanced/src/lib/container/runtime/utils.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/enhanced/test/configCases/sharing/shared-strategy/App.js
  packages/enhanced/test/configCases/sharing/shared-strategy/index.js
  packages/enhanced/test/configCases/sharing/shared-strategy/node_modules/react.js
  packages/enhanced/test/configCases/sharing/shared-strategy/package.json
  packages/enhanced/test/configCases/sharing/shared-strategy/webpack.config.js
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
  packages/runtime/src/shared/index.ts
  packages/runtime/src/type/config.ts
  packages/runtime/src/utils/share.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#2876 fix: handle circular init shared
  .changeset/itchy-ducks-crash.md
  packages/runtime/src/core.ts
  packages/runtime/src/remote/index.ts
  packages/runtime/src/shared/index.ts
  packages/runtime/src/type/config.ts
  packages/webpack-bundler-runtime/src/initializeSharing.ts
Labels: change: fix

#2887 fix: fix router alias issue for react-bridge
  apps/router-demo/router-host-2000/package.json
  packages/bridge/bridge-react-webpack-plugin/__tests__/mockRouterDir/router-v5/react-router-dom/package.json
  packages/bridge/bridge-react-webpack-plugin/__tests__/mockRouterDir/router-v6/react-router-dom/package.json
  packages/bridge/bridge-react-webpack-plugin/__tests__/utils.spec.ts
  packages/bridge/bridge-react-webpack-plugin/project.json
  packages/bridge/bridge-react-webpack-plugin/src/utis.ts
  packages/bridge/bridge-react-webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Labels: change: fix

#2860 feat(enhanced): add support for virtual runtime entrypoints
  .changeset/warm-dryers-suffer.md
  apps/website-new/docs/en/configure/index.mdx
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#2884 feat(enhanced): drop child compiler from runtime module
  .changeset/chatty-hornets-attend.md
  .github/workflows/e2e-manifest.yml
  .github/workflows/e2e-router.yml
  .gitignore
  apps/3000-home/cypress/e2e/app.cy.ts
  apps/3000-home/pages/index.tsx
  apps/router-demo/router-host-2000/cypress/downloads/downloads.html
  package.json
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/container/runtime/CustomRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/CustomRuntimePlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  packages/sdk/src/types/plugins/ContainerReferencePlugin.ts
  webpack/declarations/WebpackOptions.d.ts
  webpack/lib/Compiler.d.ts
  webpack/lib/RuntimeTemplate.d.ts
  webpack/types.d.ts
Labels: change: feat

#2895 fix(runtime): remove function duplication
  .changeset/yellow-bugs-poke.md
  packages/runtime/src/core.ts
  packages/runtime/src/global.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/plugins/snapshot/SnapshotHandler.ts
  packages/runtime/src/plugins/snapshot/index.ts
  packages/runtime/src/remote/index.ts
  packages/runtime/src/utils/env.ts
  packages/runtime/src/utils/preload.ts
  packages/runtime/src/utils/tool.ts
  packages/sdk/src/logger.ts
  packages/sdk/src/utils.ts
Labels: change: fix

#2893 fix(rspack): do not instantiate DtsPlugin when options.dts = false
  packages/rspack/src/ModuleFederationPlugin.ts
Labels: change: fix

#2897 fix(enhanced): fix types of container reference
  package.json
  packages/enhanced/src/lib/container/ContainerReferencePlugin.ts
  packages/enhanced/src/lib/container/RemoteModule.ts
  packages/enhanced/src/lib/container/options.ts
  pnpm-lock.yaml
Labels: change: fix

#2874 feat(enhanced): eager runtime
  .changeset/chatty-hornets-attend.md
  .changeset/kind-nails-roll.md
  .github/workflows/e2e-manifest.yml
  .github/workflows/e2e-router.yml
  .gitignore
  apps/3000-home/cypress/e2e/app.cy.ts
  apps/3000-home/pages/_app.tsx
  apps/manifest-demo/webpack-host/src/index.ts
  apps/manifest-demo/webpack-host/src/index.tsx
  apps/manifest-demo/webpack-host/webpack.config.js
  apps/modernjs-ssr/dynamic-nested-remote/@mf-types/dynamic_remote/Image.d.ts
  apps/modernjs-ssr/dynamic-nested-remote/@mf-types/dynamic_remote/compiled-types/Image.d.ts
  apps/modernjs-ssr/host/cypress/downloads/downloads.html
  apps/runtime-demo/3005-runtime-host/src/index.ts
  package.json
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/container/RemoteRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/ChildCompilationRuntimePlugin.ts
  packages/enhanced/src/lib/container/runtime/CustomRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimePlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedRuntimeModule.ts
  packages/enhanced/src/lib/sharing/ProvideSharedPlugin.ts
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.js
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.ts
  packages/enhanced/src/lib/startup/StartupHelpers.ts
  packages/manifest/src/StatsManager.ts
  packages/nextjs-mf/src/loaders/fixImageLoader.ts
  packages/nextjs-mf/src/loaders/helpers.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/set-options.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/validate-options.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerPlugin.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerRuntimeModule.ts
  packages/nextjs-mf/utils/index.ts
  packages/runtime/project.json
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/typescript/src/plugins/FederatedTypesPlugin.ts
  packages/typescript/tsconfig.json
  packages/utilities/src/plugins/DelegateModulesPlugin.ts
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/src/index.ts
  pnpm-lock.yaml
Labels: change: feat
