Repository module-federation/core, pull requests merged in 2024-01, with the labels that each got.

#1880 fix: rename usePlugins to prevent swc react-refresh from throwing errors when replacing variables
  .changeset/honest-peas-dress.md
  packages/runtime/src/utils/hooks/pluginSystem.ts
  packages/runtime/src/utils/plugin.ts
Labels: change: fix

#1889 feat: add init container hook
  .changeset/quick-chicken-glow.md
  .changeset/wet-pillows-impress.md
  packages/runtime/src/core.ts
  packages/runtime/src/global.ts
  packages/runtime/src/helpers.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/type/config.ts
  packages/runtime/src/type/plugin.ts
  packages/runtime/src/utils/plugin.ts
Labels: change: feat

#1859 fix(runtime): fixed an exception in global object processing in the micro-front-end scenario
  .github/workflows/build-and-test.yml
  apps/3000-home/project.json
  apps/3001-shop/project.json
  apps/3002-checkout/project.json
  packages/runtime/project.json
  packages/runtime/rollup.config.js
  packages/runtime/src/global.ts
Labels: change: fix

#1912 feat: add remoteEntryInitOptions in container init params
  packages/enhanced/src/lib/container/ContainerEntryModule.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/runtime-tools/src/index.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/type/config.ts
  packages/webpack-bundler-runtime/src/initContainerEntry.ts
  packages/webpack-bundler-runtime/src/types.ts
Labels: change: feat

#1916 feat: add runtime/bundler-runtime/sdk/enhanced README
  packages/enhanced/README.md
  packages/runtime-tools/README.md
  packages/runtime/README.md
  packages/runtime/src/core.md
  packages/runtime/src/core.ts
  packages/runtime/src/index.ts
  packages/sdk/src/normalize-webpack-path.ts
  packages/webpack-bundler-runtime/README.md
  packages/webpack-bundler-runtime/src/proxyShareScopeMap.ts
  packages/webpack-bundler-runtime/src/readme.md
Labels: change: feat

#1919 feat: add shared strategy test
  packages/runtime/__tests__/resources/version-strategy-app2/federation-remote-entry.js
  packages/runtime/__tests__/shares.spec.ts
  packages/runtime/src/utils/share.ts
Labels: change: feat

#1920 feat: add share config
  packages/enhanced/src/declarations/plugins/sharing/ProvideSharedPlugin.d.ts
  packages/enhanced/src/lib/sharing/ProvideSharedDependency.ts
  packages/enhanced/src/lib/sharing/ProvideSharedModule.ts
  packages/enhanced/src/lib/sharing/ProvideSharedModuleFactory.ts
  packages/enhanced/src/lib/sharing/ProvideSharedPlugin.ts
  packages/enhanced/src/lib/sharing/SharePlugin.ts
  packages/enhanced/src/lib/sharing/ShareRuntimeModule.ts
  packages/enhanced/src/schemas/sharing/ProviderSharedPlugin.check.ts
  packages/enhanced/src/schemas/sharing/ProviderSharedPlugin.ts
Labels: change: feat

#1940 fix(nextjs-mf): production build issues during next compile
  .changeset/gold-emus-care.md
  .github/workflows/build-and-test.yml
  apps/3000-home/project.json
  apps/3001-shop/project.json
  apps/3002-checkout/project.json
  package.json
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: fix

#1944 docs: added contribution guidelines on how to publish official versions
  CONTRIBUTING.md
  image.png
Labels: change: docs

#1948 fix: not duplicate set resolve.alias
  .changeset/lemon-fans-tickle.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
Labels: change: fix

#1956 fix: window.location.origin will be 'null' in iframe srcDoc
  .changeset/weak-jars-tap.md
  packages/runtime/src/core.ts
Labels: change: fix

#1962 fix: webpackRequire.S has been attached with instance.shareScopeMap
  .changeset/shy-spoons-cheer.md
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/sharing/ConsumeSharedPlugin.ts
  packages/runtime/src/utils/share.ts
  packages/webpack-bundler-runtime/src/initContainerEntry.ts
Labels: change: fix

#1960 fix(enhanced): async boundary on dependOn named chunks
  .changeset/metal-walls-drop.md
  .gitignore
  packages/enhanced/src/lib/container/AsyncBoundaryPlugin.ts
Labels: change: fix

#1938 fix(nextjs-mf): remove delegate code
  .changeset/curly-mangos-worry.md
  packages/nextjs-mf/src/default-delegate.ts
  packages/nextjs-mf/src/loaders/delegateLoader.ts
Labels: change: fix

#1981 feat: support cjs
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/ContainerReferencePlugin.ts
  packages/enhanced/src/lib/container/runtime/utils.ts
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/App.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/ComponentA.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/index.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/node_modules/react.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/runtimePlugin.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/test.config.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/upgrade-react.js
  packages/enhanced/test/configCases/container/comonjs-runtime-plugins/webpack.config.js
  packages/enhanced/test/configCases/sharing/consume-multiple-versions/index.js
  packages/runtime/README.md
  packages/runtime/src/utils/load.ts
  packages/sdk/src/node.ts
  packages/sdk/src/types/stats.ts
  packages/webpack-bundler-runtime/src/constant.ts
  packages/webpack-bundler-runtime/src/remotes.ts
  pnpm-lock.yaml
Labels: change: feat

#1987 feat(runtime): allow onload hook to return wrapped module
  .changeset/fast-sheep-melt.md
  packages/runtime/src/core.ts
Labels: change: feat

#1985 fix(node): Improve chunk flushing
  .changeset/popular-spoons-grin.md
  .github/workflows/build-and-test.yml
  apps/3000-home/project.json
  apps/3001-shop/pages/_document.js
  apps/3001-shop/project.json
  apps/3002-checkout/project.json
  package.json
  packages/nextjs-mf/src/federation-noop.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
  packages/nextjs-mf/utils/index.ts
  packages/node/global.d.ts
  packages/node/src/utils/flush-chunks.ts
  packages/node/src/utils/hot-reload.ts
Labels: change: fix

#2011 feat: initRawContainer method
  .github/workflows/build-and-test.yml
  apps/node-host/package.json
  apps/node-host/runtimePlugin.ts
  apps/node-host/webpack.config.js
  packages/node/src/plugins/webpackChunkUtilities.ts
  packages/runtime/src/core.ts
  pnpm-lock.yaml
Labels: change: feat

#2018 fix(runtime): support restricted unsafe-eval environments
  packages/runtime/__tests__/preload-remote.spec.ts
  packages/runtime/src/global.ts
Labels: change: fix

#2038 fix(3000-home): add trailing slash on antd and lodash shared config
  apps/3000-home/next.config.js
  apps/3000-home/pages/index.tsx
  apps/3001-shop/next.config.js
  apps/3002-checkout/next.config.js
Labels: change: fix

#2052 fix(nextjs-mf): change runtimePlugin definition order
  .changeset/weak-baboons-think.md
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
Labels: change: fix
