Repository module-federation/core, pull requests merged in 2024-04, with the labels that each got.

#2258 feat: wire skipSharingNextInternals
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
Labels: change: feat

#2262 docs(features): rephrase type hint language
  apps/website-new/docs/en/guide/start/features.mdx
Labels: change: docs

#2264 fix(docs): add reject in promise-based dynamic remote
  apps/docs/src/en/modules/ROOT/pages/core-features/dynamic-remotes.adoc
Labels: change: fix

#2267 docs: optimize doc
  apps/website-new/docs/en/configure/name.mdx
  apps/website-new/docs/en/configure/shared.mdx
  apps/website-new/docs/zh/configure/name.mdx
  apps/website-new/docs/zh/configure/shared.mdx
  apps/website-new/src/components/ShowcaseList/index.module.scss
  apps/website-new/src/components/ShowcaseList/index.tsx
Labels: change: docs

#2266 docs: add types support
  apps/website-new/docs/en/configure/_meta.json
  apps/website-new/docs/en/configure/dev.mdx
  apps/website-new/docs/en/configure/dts.mdx
  apps/website-new/docs/en/configure/index.mdx
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
  apps/website-new/docs/en/guide/start/features.mdx
  apps/website-new/docs/public/guide/type-prompt/hot-types-reload-static.gif
  apps/website-new/docs/public/guide/type-prompt/hot-types-reload.gif
  apps/website-new/docs/public/guide/type-prompt/nested-remote.jpg
  apps/website-new/docs/public/guide/type-prompt/third-party.jpg
  apps/website-new/docs/zh/configure/_meta.json
  apps/website-new/docs/zh/configure/dev.mdx
  apps/website-new/docs/zh/configure/dts.mdx
  apps/website-new/docs/zh/configure/index.mdx
  apps/website-new/docs/zh/guide/basic/type-prompt.mdx
Labels: change: docs

#2263 feat(enhanced): register plugins exposed runtime api
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/runtime/README.md
  packages/runtime/src/core.ts
  packages/runtime/src/index.ts
Labels: change: feat

#2270 fix(nextjs-mf): skip share next internals
  .changeset/light-tomatoes-camp.md
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/utilities/src/types/index.ts
Labels: change: fix

#2265 fix(enhanced): codegen chunk issues
  .github/workflows/devtools.yml
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
Labels: change: fix

#2275 docs: fix devtool doc format error
  apps/website-new/docs/en/guide/basic/chrome-devtool.mdx
Labels: change: docs

#2286 docs: lists past underlying packages
  README.md
  packages/utilities/README.md
Labels: change: docs

#2287 docs: add v0.1 release note
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/community/_meta.json
  apps/website-new/docs/en/community/v0-1.mdx
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/_meta.json
  apps/website-new/docs/zh/community/_meta.json
  apps/website-new/docs/zh/community/v0-1.mdx
Labels: change: docs

#2292 docs: chrome devtools
  .github/workflows/deploy-website.yml
  apps/website-new/docs/en/guide/basic/chrome-devtool.mdx
  apps/website-new/docs/public/guide/chrome-devtools/chrome-store-add-devtool.png
  apps/website-new/docs/zh/guide/basic/chrome-devtool.mdx
  apps/website-new/netlify.toml
  package.json
  pnpm-lock.yaml
Labels: change: docs

#2305 docs: update type-prompt.mdx
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
Labels: change: docs

#2306 fix: chunkId may equal number 0
  .changeset/quiet-ways-shake.md
  packages/enhanced/src/lib/sharing/ConsumeSharedRuntimeModule.ts
Labels: change: fix

#2315 fix: fixed type declaration in pkg
  .changeset/gentle-kings-remember.md
  packages/enhanced/package.json
  packages/runtime-tools/package.json
  packages/runtime/package.json
  packages/sdk/package.json
Labels: change: fix

#2318 docs: optimize quick start content
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/zh/guide/start/quick-start.mdx
Labels: change: docs

#2322 fix: detect whether the project is ts
  .changeset/dry-walls-enjoy.md
  apps/website-new/docs/en/configure/dts.mdx
  apps/website-new/docs/zh/configure/dts.mdx
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
  packages/dts-plugin/src/plugins/TypesPlugin.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: fix

#2321 fix(enhanced): allow dts plugin to be disabled
  .changeset/dry-walls-enjoy.md
  .changeset/sour-kangaroos-enjoy.md
  apps/website-new/docs/en/configure/dts.mdx
  apps/website-new/docs/zh/configure/dts.mdx
  package.json
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
  packages/dts-plugin/src/plugins/TypesPlugin.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  pnpm-lock.yaml
Labels: change: fix

#2320 fix: output error in file
  .changeset/stale-hairs-remain.md
  apps/react-ts-nested-remote/project.json
  apps/runtime-demo/3006-runtime-remote/project.json
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
Labels: change: fix

#2319 feat: support config manifest
  .changeset/twelve-peas-melt.md
  packages/manifest/src/ManifestManager.ts
  packages/manifest/src/StatsPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#2313 feat: support config multiple shared
  .changeset/violet-rice-admire.md
  apps/website-new/docs/en/guide/basic/runtime.mdx
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/guide/basic/runtime.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
  packages/chrome-devtools/src/utils/chrome/fast-refresh.ts
  packages/enhanced/src/lib/sharing/ShareRuntimeModule.ts
  packages/enhanced/test/configCases/container/2-container-full/index.js
  packages/enhanced/test/configCases/container/module-federation-with-shareScope/index.js
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
  packages/runtime/README.md
  packages/runtime/__tests__/share.ts
  packages/runtime/__tests__/shares.spec.ts
  packages/runtime/src/core.ts
  packages/runtime/src/plugins/generate-preload-assets.ts
  packages/runtime/src/type/config.ts
  packages/runtime/src/utils/share.ts
  packages/runtime/src/utils/tool.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/types/snapshot.ts
  packages/webpack-bundler-runtime/src/consumes.ts
  packages/webpack-bundler-runtime/src/installInitialConsumes.ts
  packages/webpack-bundler-runtime/src/types.ts
Labels: change: feat

#2330 feat: align with shared import:false
  .changeset/angry-ways-return.md
  packages/runtime/__tests__/share.ts
  packages/runtime/__tests__/shares.spec.ts
  packages/runtime/src/type/config.ts
  packages/runtime/src/utils/share.ts
Labels: change: feat

#2342 fix: support config string shareScope
  .changeset/tame-mirrors-greet.md
  packages/runtime/src/utils/share.ts
Labels: change: fix

#2324 fix(enhanced): plugin failure when federation runtime is unused
  .changeset/fuzzy-shirts-smoke.md
  .changeset/long-sheep-shave.md
  .github/workflows/build-and-test.yml
  .github/workflows/devtools.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  apps/3001-shop/pages/shop/index.tsx
  apps/3002-checkout/pages/checkout/index.tsx
  package.json
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/runtime/src/core.ts
  pnpm-lock.yaml
Labels: change: fix

#2349 feat(enhanced): chunk matcher to federation runtime
  .changeset/green-news-leave.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/getFederationGlobal.ts
Labels: change: feat

#2350 feat(enhanced): improve async boundary for sibling chunk dep
  .changeset/pink-bulldogs-laugh.md
  .github/workflows/build-and-test.yml
  packages/enhanced/src/lib/container/AsyncBoundaryPlugin.ts
Labels: change: feat

#2354 fix: download retrieves count per file
  .changeset/mean-months-sparkle.md
  packages/native-federation-tests/src/lib/archiveHandler.ts
  packages/native-federation-typescript/src/lib/archiveHandler.ts
Labels: change: fix

#2341 feat(native-federation-typescript): speedup
  packages/native-federation-tests/src/index.ts
  packages/native-federation-typescript/package.json
  packages/native-federation-typescript/src/index.test.ts
  packages/native-federation-typescript/src/index.ts
  packages/native-federation-typescript/src/lib/writeBundle/host.ts
  packages/native-federation-typescript/src/lib/writeBundle/remote.ts
  pnpm-lock.yaml
Labels: change: feat

#2353 fix: patch chunk split of "_partial" container entry
  .changeset/purple-apples-battle.md
  .changeset/strong-grapes-tap.md
  .github/workflows/build-and-test.yml
  apps/3000-home/cypress/e2e/app.cy.ts
  apps/3000-home/next.config.js
  apps/3000-home/package.json
  apps/3001-shop/cypress/e2e/app.cy.ts
  apps/3001-shop/next.config.js
  apps/3001-shop/package.json
  apps/3001-shop/pages/shop/index.tsx
  apps/3002-checkout/cypress/e2e/app.cy.ts
  apps/3002-checkout/next.config.js
  apps/3002-checkout/package.json
  apps/3002-checkout/pages/checkout/index.tsx
  nx.json
  package.json
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
  packages/enhanced/src/wrapper/HoistContainerReferencesPlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/rspack/src/ModuleFederationPlugin.ts
Labels: change: fix

#2345 fix(runtime): preserve generic in loadRemote/loadShare/loadShareSync (#2325)
  .changeset/tasty-parents-guess.md
  packages/runtime/__tests__/global.spec.ts
  packages/runtime/src/index.ts
Labels: change: fix

#2361 feat(node): runtime plugin for node envs
  .changeset/dry-buses-burn.md
  .changeset/spotty-adults-report.md
  .github/workflows/build-and-test.yml
  apps/3000-home/cypress/e2e/app.cy.ts
  apps/node-remote/webpack.config.js
  apps/website-new/docs/en/plugin/_meta.json
  apps/website-new/docs/en/plugin/plugins/_meta.json
  apps/website-new/docs/en/plugin/plugins/index.mdx
  packages/node/README.md
  packages/node/package.json
  packages/node/src/plugins/NodeFederationPlugin.ts
  packages/node/src/plugins/UniversalFederationPlugin.ts
  packages/node/src/runtimePlugin.ts
  pnpm-lock.yaml
Labels: change: feat

#2340 fix(typescript): fix import path and @mf-types generation Windows (#566)
  .changeset/tame-planets-check.md
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/native-federation-typescript/package.json
  packages/native-federation-typescript/src/lib/typeScriptCompiler.ts
  packages/typescript/src/lib/TypescriptCompiler.ts
  pnpm-lock.yaml
Labels: change: fix

#2375 docs: update next docs
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
  apps/website-new/docs/en/guide/framework/nextjs.mdx
Labels: change: docs

#2381 docs: optimize readme module federation 2.0
  README.md
Labels: change: docs

#2380 docs: add practice part
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/practice/_meta.json
  apps/website-new/docs/en/practice/frameworks/_meta.json
  apps/website-new/docs/en/practice/frameworks/angular/_meta.json
  apps/website-new/docs/en/practice/frameworks/angular/angular-cli.mdx
  apps/website-new/docs/en/practice/frameworks/angular/angular-mfe.mdx
  apps/website-new/docs/en/practice/frameworks/angular/auth0.mdx
  apps/website-new/docs/en/practice/frameworks/angular/mf-ssr-angular.mdx
  apps/website-new/docs/en/practice/frameworks/angular/okta-auth.mdx
  apps/website-new/docs/en/practice/frameworks/angular/service-workers-mf.mdx
  apps/website-new/docs/en/practice/frameworks/angular/splitting-to-mf-part1.mdx
  apps/website-new/docs/en/practice/frameworks/angular/splitting-to-mf-part2.mdx
  apps/website-new/docs/en/practice/frameworks/index.mdx
  apps/website-new/docs/en/practice/frameworks/next/_meta.json
  apps/website-new/docs/en/practice/frameworks/next/dynamic-remotes.mdx
  apps/website-new/docs/en/practice/frameworks/next/express.mdx
  apps/website-new/docs/en/practice/frameworks/next/importing-components.mdx
  apps/website-new/docs/en/practice/frameworks/next/importing-pages.mdx
  apps/website-new/docs/en/practice/frameworks/next/index.mdx
  apps/website-new/docs/en/practice/frameworks/next/presets.mdx
  apps/website-new/docs/en/practice/frameworks/react/_meta.json
  apps/website-new/docs/en/practice/frameworks/react/i18n-react.mdx
  apps/website-new/docs/en/practice/frameworks/react/index.mdx
  apps/website-new/docs/en/practice/overview.md
  apps/website-new/docs/en/practice/scenario/index.md
  apps/website-new/docs/zh/_meta.json
  apps/website-new/docs/zh/practice/_meta.json
  apps/website-new/docs/zh/practice/frameworks/_meta.json
  apps/website-new/docs/zh/practice/frameworks/angular/_meta.json
  apps/website-new/docs/zh/practice/frameworks/angular/angular-cli.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/angular-mfe.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/auth0.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/mf-ssr-angular.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/okta-auth.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/service-workers-mf.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/splitting-to-mf-part1.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/splitting-to-mf-part2.mdx
  apps/website-new/docs/zh/practice/frameworks/index.mdx
  apps/website-new/docs/zh/practice/frameworks/next/_meta.json
  apps/website-new/docs/zh/practice/frameworks/next/dynamic-remotes.mdx
  apps/website-new/docs/zh/practice/frameworks/next/express.mdx
  apps/website-new/docs/zh/practice/frameworks/next/importing-components.mdx
  apps/website-new/docs/zh/practice/frameworks/next/importing-pages.mdx
  apps/website-new/docs/zh/practice/frameworks/next/index.mdx
  apps/website-new/docs/zh/practice/frameworks/next/presets.mdx
  apps/website-new/docs/zh/practice/frameworks/react/_meta.json
  apps/website-new/docs/zh/practice/frameworks/react/i18n-react.mdx
  apps/website-new/docs/zh/practice/frameworks/react/index.mdx
  apps/website-new/docs/zh/practice/overview.md
  apps/website-new/docs/zh/practice/scenario/index.md
Labels: change: docs

#2386 fix(nextjs-mf): fix loader failure in ci
  .github/workflows/build-and-test.yml
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
Labels: change: fix

#2295 fix(nextjs-mf): enable manifest generation on clientside when setting publicPath
  .changeset/gorgeous-boats-grab.md
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
Labels: change: fix

#2378 docs: add framework content only
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/practice/_meta.json
  apps/website-new/docs/en/practice/frameworks/_meta.json
  apps/website-new/docs/en/practice/frameworks/angular/_meta.json
  apps/website-new/docs/en/practice/frameworks/angular/angular-cli.mdx
  apps/website-new/docs/en/practice/frameworks/angular/angular-mfe.mdx
  apps/website-new/docs/en/practice/frameworks/angular/auth0.mdx
  apps/website-new/docs/en/practice/frameworks/angular/mf-ssr-angular.mdx
  apps/website-new/docs/en/practice/frameworks/angular/okta-auth.mdx
  apps/website-new/docs/en/practice/frameworks/angular/service-workers-mf.mdx
  apps/website-new/docs/en/practice/frameworks/angular/splitting-to-mf-part1.mdx
  apps/website-new/docs/en/practice/frameworks/angular/splitting-to-mf-part2.mdx
  apps/website-new/docs/en/practice/frameworks/index.mdx
  apps/website-new/docs/en/practice/frameworks/next/_meta.json
  apps/website-new/docs/en/practice/frameworks/next/dynamic-remotes.mdx
  apps/website-new/docs/en/practice/frameworks/next/express.mdx
  apps/website-new/docs/en/practice/frameworks/next/importing-components.mdx
  apps/website-new/docs/en/practice/frameworks/next/importing-pages.mdx
  apps/website-new/docs/en/practice/frameworks/next/index.mdx
  apps/website-new/docs/en/practice/frameworks/next/presets.mdx
  apps/website-new/docs/en/practice/frameworks/react/_meta.json
  apps/website-new/docs/en/practice/frameworks/react/i18n-react.mdx
  apps/website-new/docs/en/practice/frameworks/react/index.mdx
  apps/website-new/docs/en/practice/overview.md
  apps/website-new/docs/en/practice/scenario/index.md
  apps/website-new/docs/zh/_meta.json
  apps/website-new/docs/zh/practice/_meta.json
  apps/website-new/docs/zh/practice/frameworks/_meta.json
  apps/website-new/docs/zh/practice/frameworks/angular/_meta.json
  apps/website-new/docs/zh/practice/frameworks/angular/angular-cli.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/angular-mfe.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/auth0.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/mf-ssr-angular.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/okta-auth.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/service-workers-mf.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/splitting-to-mf-part1.mdx
  apps/website-new/docs/zh/practice/frameworks/angular/splitting-to-mf-part2.mdx
  apps/website-new/docs/zh/practice/frameworks/index.mdx
  apps/website-new/docs/zh/practice/frameworks/next/_meta.json
  apps/website-new/docs/zh/practice/frameworks/next/dynamic-remotes.mdx
  apps/website-new/docs/zh/practice/frameworks/next/express.mdx
  apps/website-new/docs/zh/practice/frameworks/next/importing-components.mdx
  apps/website-new/docs/zh/practice/frameworks/next/importing-pages.mdx
  apps/website-new/docs/zh/practice/frameworks/next/index.mdx
  apps/website-new/docs/zh/practice/frameworks/next/presets.mdx
  apps/website-new/docs/zh/practice/frameworks/react/_meta.json
  apps/website-new/docs/zh/practice/frameworks/react/i18n-react.mdx
  apps/website-new/docs/zh/practice/frameworks/react/index.mdx
  apps/website-new/docs/zh/practice/overview.md
  apps/website-new/docs/zh/practice/scenario/index.md
  apps/website-new/theme/index.css
Labels: change: docs

#2370 feat(devtools): add modern lib to publish npm package
  .changeset/config.json
  .changeset/pink-teachers-juggle.md
  .github/workflows/build-and-test.yml
  packages/chrome-devtools/.eslintrc.js
  packages/chrome-devtools/.storybook/main.ts
  packages/chrome-devtools/e2e/index.spec.ts
  packages/chrome-devtools/modern.lib.config.ts
  packages/chrome-devtools/package.json
  packages/chrome-devtools/project.json
  packages/chrome-devtools/src/.eslintrc.js
  packages/chrome-devtools/src/App.tsx
  packages/chrome-devtools/src/component/Form/index.module.scss
  packages/chrome-devtools/src/component/Form/index.tsx
  packages/chrome-devtools/src/component/GraphItem/index.module.scss
  packages/chrome-devtools/src/component/GraphItem/index.tsx
  packages/chrome-devtools/src/component/Layout/index.tsx
  packages/chrome-devtools/src/index.tsx
  packages/chrome-devtools/src/init.ts
  packages/chrome-devtools/src/utils/chrome/index.ts
  packages/chrome-devtools/src/utils/chrome/post-message.ts
  packages/chrome-devtools/src/utils/chrome/snapshot-plugin.ts
  packages/chrome-devtools/src/utils/chrome/storage.ts
  packages/chrome-devtools/src/utils/sdk/graph.ts
  packages/chrome-devtools/src/utils/sdk/index.ts
  packages/chrome-devtools/src/utils/types/common.ts
  packages/chrome-devtools/stories/index.stories.tsx
  packages/chrome-devtools/tsconfig.base.json
  packages/chrome-devtools/tsconfig.json
  packages/chrome-devtools/tsconfig.lib.json
  pnpm-lock.yaml
Labels: change: feat

#2376 fix(enhanced): add type to package
  .changeset/rotten-deers-melt.md
  packages/enhanced/package.json
Labels: change: fix

#2392 docs: optimize readme 2.0
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/blog/announcement.mdx
  apps/website-new/docs/public/blog/announcement/announcement-video-poster.png
  apps/website-new/docs/zh/_meta.json
  apps/website-new/docs/zh/blog/announcement.mdx
  apps/website-new/package.json
  apps/website-new/rspress.config.ts
  apps/website-new/src/components/AnnouncementVideo.tsx
  apps/website-new/theme/components/Contributors.tsx
  apps/website-new/theme/components/button/button.module.scss
  apps/website-new/theme/components/button/button.tsx
  apps/website-new/theme/components/container/container.css
  apps/website-new/theme/components/container/container.tsx
  apps/website-new/theme/i18n/enUS.ts
  apps/website-new/theme/i18n/zhCN.ts
  apps/website-new/theme/pages/index.tsx
  pnpm-lock.yaml
Labels: change: docs

#2396 docs: optimize readme 2.0
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/blog/announcement.mdx
  apps/website-new/docs/public/blog/announcement/announcement-video-poster.png
  apps/website-new/docs/zh/_meta.json
  apps/website-new/docs/zh/blog/announcement.mdx
  apps/website-new/package.json
  apps/website-new/rspress.config.ts
  apps/website-new/src/components/AnnouncementVideo.tsx
  apps/website-new/theme/components/Contributors.tsx
  apps/website-new/theme/components/button/button.module.scss
  apps/website-new/theme/components/button/button.tsx
  apps/website-new/theme/components/container/container.css
  apps/website-new/theme/components/container/container.tsx
  apps/website-new/theme/i18n/enUS.ts
  apps/website-new/theme/i18n/zhCN.ts
  apps/website-new/theme/pages/index.tsx
  pnpm-lock.yaml
Labels: change: docs

#2398 docs: optimize announcement doc
  apps/website-new/docs/en/blog/announcement.mdx
  apps/website-new/docs/public/blog/announcement/module-federation-doc.png
  apps/website-new/docs/zh/blog/announcement.mdx
Labels: change: docs

#2400 docs: add new npm pkg
  apps/website-new/docs/en/guide/start/npm-packages.mdx
  apps/website-new/docs/zh/guide/start/npm-packages.mdx
Labels: change: docs

#2401 fix(devtools): fix options undefined cause error
  .changeset/good-toes-beg.md
  packages/chrome-devtools/src/utils/chrome/post-message.ts
  packages/chrome-devtools/src/utils/chrome/snapshot-plugin.ts
Labels: change: fix

#2402 docs: native ts description
  apps/website-new/docs/en/guide/start/npm-packages.mdx
  apps/website-new/docs/zh/guide/start/npm-packages.mdx
Labels: change: docs

#2373 fix(runtime): error load remote should fire if before request throw
  package.json
  packages/runtime/src/core.ts
Labels: change: fix

#2411 fix: fix publish private error
  .changeset/wild-queens-dress.md
  packages/chrome-devtools/README.md
  packages/chrome-devtools/package.json
Labels: change: fix

#2410 fix(dts-plugin): avoid typescript generation exceptions in javascript projects
  .changeset/three-mails-yawn.md
  apps/runtime-demo/3005-runtime-host/@mf-types/index.d.ts
  apps/runtime-demo/3005-runtime-host/runtimePlugin.ts
  apps/runtime-demo/3005-runtime-host/src/runtimePlugin.ts
  apps/runtime-demo/3006-runtime-remote/runtimePlugin.ts
  apps/runtime-demo/3008-runtime-remote/package.json
  apps/runtime-demo/3008-runtime-remote/project.json
  apps/runtime-demo/3008-runtime-remote/rsbuild.config.mjs
  apps/runtime-demo/3008-runtime-remote/src/App.css
  apps/runtime-demo/3008-runtime-remote/src/App.jsx
  apps/runtime-demo/3008-runtime-remote/src/Button.tsx
  apps/runtime-demo/3008-runtime-remote/src/bootstrap.jsx
  apps/runtime-demo/3008-runtime-remote/src/index.jsx
  packages/dts-plugin/src/core/index.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/TypesPlugin.ts
  packages/dts-plugin/src/plugins/utils.ts
  packages/manifest/src/utils.ts
  pnpm-lock.yaml
Labels: change: fix

#2412 docs: Update runtime.mdx
  apps/website-new/docs/en/guide/basic/runtime.mdx
Labels: change: docs

#2413 fix(enhanced): remove package type
  packages/enhanced/package.json
Labels: change: fix

#2415 docs: remove unless vmok name
  apps/website-new/docs/en/guide/basic/chrome-devtool.mdx
  apps/website-new/docs/zh/guide/basic/chrome-devtool.mdx
Labels: change: docs

#2414 docs: resolve google module federation get start link break
  apps/website-new/netlify.toml
Labels: change: docs

#2423 docs: updating announcement
  apps/website-new/docs/en/blog/announcement.mdx
  apps/website-new/docs/zh/blog/announcement.mdx
Labels: change: docs

#2432 docs: update presets.mdx
  apps/website-new/docs/en/practice/frameworks/next/presets.mdx
Labels: change: docs

#2425 docs: delete dumplicate property
  apps/website-new/docs/zh/configure/index.mdx
Labels: change: docs
