Repository module-federation/core, pull requests merged in 2024-07, with the labels that each got.

#2682 fix(sdk): allow create script to change attrs
  .changeset/chilled-dolls-arrive.md
  .changeset/nine-years-brake.md
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
  packages/runtime/src/core.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#2701 docs(README): align the title font size
  README.md
Labels: change: docs

#2706 fix(runtime): fixed an issue where script failed to load properly when static resources were set to cross-domain response headers due to the default setting of script crossorigin to anonymous (this issue appeared in next.js)
  .changeset/thick-pianos-perform.md
  packages/runtime/__tests__/__snapshots__/preload-remote.spec.ts.snap
  packages/runtime/project.json
  packages/runtime/src/utils/preload.ts
  packages/sdk/src/dom.ts
  pnpm-lock.yaml
Labels: change: fix

#2709 feat(nextjs): support code splitting & use node runtime plugin
  .changeset/eight-kids-smash.md
  .changeset/friendly-doors-pull.md
  .changeset/red-pants-yawn.md
  .changeset/yellow-cats-doubt.md
  .github/workflows/build-and-test.yml
  apps/3000-home/components/menu.tsx
  apps/3000-home/next.config.js
  apps/3000-home/package.json
  apps/3001-shop/components/menu.tsx
  apps/3001-shop/cypress.config.ts
  apps/3001-shop/next.config.js
  apps/3001-shop/package.json
  apps/3002-checkout/components/menu.tsx
  apps/3002-checkout/next.config.js
  apps/3002-checkout/package.json
  package.json
  packages/nextjs-mf/package.json
  packages/nextjs-mf/project.json
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerPlugin.ts
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
  packages/nextjs-mf/utils/index.ts
  packages/node/src/runtimePlugin.ts
  pnpm-lock.yaml
Labels: change: feat

#2710 fix(deps): update dependency undici to v5.28.4 [security]
  package.json
  pnpm-lock.yaml
Labels: change: fix

#2720 fix(deps): update dependency chrome-trace-event to v1.0.4
  apps/3001-shop/package.json
  apps/3002-checkout/package.json
  pnpm-lock.yaml
Labels: change: fix

#2727 fix(sdk): vm provide dynamic import callback
  .changeset/dull-paws-judge.md
  .changeset/sour-wasps-fry.md
  .changeset/swift-parrots-marry.md
  .github/workflows/build-and-test.yml
  apps/3000-home/.env
  apps/3001-shop/.env
  apps/3002-checkout/.env
  apps/3002-checkout/cypress/e2e/app.cy.ts
  packages/nextjs-mf/src/loaders/fixImageLoader.ts
  packages/node/src/filesystem/stratagies.ts
  packages/node/src/plugins/RemotePublicPathRuntimeModule.ts
  packages/node/src/runtimePlugin.ts
  packages/sdk/rollup.config.js
  packages/sdk/src/node.ts
Labels: change: fix

#2718 fix(deps): update dependency adm-zip to v0.5.14
  package.json
  pnpm-lock.yaml
Labels: change: fix

#2696 fix(react-bridge): optimize bridge router pathname
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  packages/bridge/bridge-react/src/create.tsx
  packages/bridge/bridge-react/src/remote/index.tsx
Labels: change: fix

#2748 fix: skip record remotes while the entry is legacy
  .changeset/green-chefs-crash.md
  apps/runtime-demo/3005-runtime-host/webpack.config.js
  packages/enhanced/src/lib/container/runtime/utils.ts
Labels: change: fix

#2708 feat: add squadron-ai
  pnpm-lock.yaml
  squadron.yaml
Labels: change: feat

#2723 fix(dts-plugin): support compile vue@3 dts
  .changeset/pink-months-listen.md
  .gitignore
  apps/runtime-demo/3005-runtime-host/webpack.config.js
  apps/runtime-demo/3006-runtime-remote/tsconfig.app.json
  apps/runtime-demo/3006-runtime-remote/webpack.config.js
  package.json
  packages/dts-plugin/package.json
  packages/dts-plugin/src/core/configurations/remotePlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/dts-plugin/src/core/interfaces/TsConfigJson.ts
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/dts-plugin/src/core/lib/archiveHandler.test.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.test.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
  packages/dts-plugin/tests/vue-tsc2/Button.vue
  packages/dts-plugin/tests/vue-tsc2/index.spec.ts
  packages/dts-plugin/tests/vue-tsc2/tsconfig.vue.json
  packages/dts-plugin/tsconfig.lib.json
  packages/dts-plugin/tsconfig.spec.json
  packages/dts-plugin/vite.config.ts
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/constant.ts
  packages/rspack/package.json
  packages/sdk/src/constant.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.spec.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.ts
  pnpm-lock.yaml
Labels: change: fix

#2765 fix: disable chunk split on next server
  .changeset/silly-yaks-enjoy.md
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
Labels: change: fix

#2772 fix(dts-plugin): ensure dts file path if it has deep path
  .changeset/afraid-chefs-yell.md
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/dts-plugin/vite.config.ts
Labels: change: fix

#2780 fix(dts-plugin): temp tsconfig path should extends original tsconfig
  .changeset/clean-kiwis-repair.md
  packages/dts-plugin/src/core/configurations/hostPlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/dts-plugin/src/core/lib/archiveHandler.test.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/dts-plugin/tests/setup.ts
  packages/dts-plugin/tests/vue-tsc2/index.spec.ts
  packages/dts-plugin/vite.config.ts
Labels: change: fix

#2787 fix: no collect node internal utils
  .changeset/little-snakes-fail.md
  packages/dts-plugin/tests/setup.ts
  packages/dts-plugin/vite.config.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.ts
Labels: change: fix

#2775 feat: support rspack modern ssr
  .changeset/nervous-otters-type.md
  apps/modernjs-ssr/dynamic-nested-remote/modern.config.ts
  apps/modernjs-ssr/dynamic-nested-remote/package.json
  apps/modernjs-ssr/dynamic-remote-new-version/modern.config.ts
  apps/modernjs-ssr/dynamic-remote-new-version/package.json
  apps/modernjs-ssr/dynamic-remote/modern.config.ts
  apps/modernjs-ssr/dynamic-remote/package.json
  apps/modernjs-ssr/host/modern.config.ts
  apps/modernjs-ssr/host/package.json
  apps/modernjs-ssr/nested-remote/modern.config.ts
  apps/modernjs-ssr/nested-remote/package.json
  apps/modernjs-ssr/nested-remote/serverroutebootstrap.js
  apps/modernjs-ssr/nested-remote/test.js
  apps/modernjs-ssr/remote-new-version/modern.config.ts
  apps/modernjs-ssr/remote-new-version/package.json
  apps/modernjs-ssr/remote/modern.config.ts
  apps/modernjs-ssr/remote/package.json
  apps/modernjs-ssr/remote/src/routes/page.tsx
  apps/modernjs/package.json
  apps/website-new/docs/en/practice/frameworks/modern/index.mdx
  apps/website-new/docs/zh/practice/frameworks/modern/index.mdx
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/modernjs/package.json
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/manifest.ts
  packages/modernjs/src/cli/mfRuntimePlugins/resolve-entry-ipv4.ts
  packages/modernjs/src/cli/ssrPlugin.ts
  packages/modernjs/src/cli/utils.spec.ts
  packages/modernjs/src/cli/utils.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.ts
  pnpm-lock.yaml
Labels: change: feat

#2801 fix: support rspack ssr live reload
  apps/modernjs-ssr/dynamic-nested-remote/tsconfig.json
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/ssrPlugin.ts
  packages/modernjs/src/cli/utils.spec.ts
  packages/modernjs/src/cli/utils.ts
  packages/node/global.d.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/plugins/UniverseEntryChunkTrackerPlugin.ts
  pnpm-lock.yaml
Labels: change: fix

#2806 fix(chrome-devtools): fix dependency graph lose node
  .changeset/dull-seals-suffer.md
  packages/chrome-devtools/src/utils/sdk/graph.ts
Labels: change: fix

#2808 docs: improve Rspack / Rsbuild plugin guide
  apps/website-new/docs/en/guide/basic/rspack.mdx
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/zh/guide/basic/rspack.mdx
  apps/website-new/docs/zh/guide/start/quick-start.mdx
Labels: change: docs

#2753 fix(runtime): checking for remote entry type when loading assets
  .changeset/big-bulldogs-matter.md
  packages/runtime/src/utils/preload.ts
Labels: change: fix

#2799 fix(runtime): ensured attributes are forwarded to createScript hook
  .changeset/good-shirts-cover.md
  packages/runtime/src/utils/preload.ts
Labels: change: fix
