Repository module-federation/core, pull requests merged in 2024-10, with the labels that each got.

#3030 fix(runtime): hooks loadEntry default behavior
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
  packages/runtime/__tests__/hooks.spec.ts
  packages/runtime/src/utils/load.ts
Labels: change: fix

#3037 fix(enhanced): skip ensure file when virtualEntry
  .changeset/ai-calm-bear.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/enhanced/test/configCases/container/virtual-entry/App.js
  packages/enhanced/test/configCases/container/virtual-entry/ComponentA.js
  packages/enhanced/test/configCases/container/virtual-entry/index.js
  packages/enhanced/test/configCases/container/virtual-entry/node_modules/react.js
  packages/enhanced/test/configCases/container/virtual-entry/test.config.js
  packages/enhanced/test/configCases/container/virtual-entry/upgrade-react.js
  packages/enhanced/test/configCases/container/virtual-entry/webpack.config.js
Labels: change: fix

#3038 feat(nextjs-mf): remove module-federation/utilities
  .changeset/ai-calm-bear.md
  packages/nextjs-mf/package.json
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-client-plugins.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/set-options.test.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/set-options.ts
  packages/nextjs-mf/utilities.ts
  packages/nextjs-mf/utils/index.ts
  pnpm-lock.yaml
Labels: change: feat

#3020 fix(bridge-react): add default basename for WraperRouterProvider
  .changeset/cuddly-pumpkins-switch.md
  packages/bridge/bridge-react/src/router-v6.tsx
Labels: change: fix

#3057 fix(runtime): remove crossorigin attr from link tag which not preload…
  .changeset/cyan-mangos-jog.md
  packages/runtime/src/utils/preload.ts
Labels: change: fix

#3061 fix(data-prefetch): apply DataPrefetchPlugin on demand
  .changeset/grumpy-avocados-cheat.md
  .changeset/swift-pants-rescue.md
  apps/manifest-demo/3010-rspack-provider/src/components/ButtonOldAnt.tsx
  apps/manifest-demo/README.md
  apps/manifest-demo/webpack-host/webpack.config.js
  apps/website-new/docs/en/practice/performance/prefetch.mdx
  apps/website-new/docs/zh/practice/performance/prefetch.mdx
  packages/data-prefetch/package.json
  packages/data-prefetch/rollup.config.js
  packages/data-prefetch/src/cli/index.ts
  packages/data-prefetch/src/constant.ts
  packages/data-prefetch/src/plugin.ts
  packages/data-prefetch/src/shared/index.ts
  packages/data-prefetch/tsup.config.ts
  packages/enhanced/src/lib/container/ContainerEntryDependency.ts
  packages/enhanced/src/lib/container/ContainerEntryModule.ts
  packages/enhanced/src/lib/container/ContainerEntryModuleFactory.ts
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/sdk/src/types/plugins/ContainerPlugin.ts
  pnpm-lock.yaml
Labels: change: fix

#3054 fix(runtime): no new Function for loadEsmEntry
  .changeset/ai-quick-eagle.md
  packages/runtime/src/utils/load.ts
Labels: change: fix

#2974 feat(sdk): enable trusted type functionality
  .changeset/mean-geckos-help.md
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: feat

#3062 feat: support mf rsbuild plugin
  .changeset/fuzzy-brooms-dance.md
  apps/router-demo/router-host-2000/package.json
  apps/router-demo/router-host-2000/rsbuild.config.ts
  apps/router-demo/router-host-2000/src/App.tsx
  apps/router-demo/router-host-2000/src/index.module.less
  apps/router-demo/router-host-v5-2200/package.json
  apps/router-demo/router-host-v5-2200/rsbuild.config.ts
  apps/router-demo/router-host-vue3-2100/package.json
  apps/router-demo/router-host-vue3-2100/rsbuild.config.ts
  apps/router-demo/router-remote1-2001/package.json
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  apps/router-demo/router-remote2-2002/package.json
  apps/router-demo/router-remote2-2002/rsbuild.config.ts
  apps/router-demo/router-remote3-2003/package.json
  apps/router-demo/router-remote3-2003/rsbuild.config.ts
  apps/router-demo/router-remote4-2004/package.json
  apps/router-demo/router-remote4-2004/rsbuild.config.ts
  apps/website-new/docs/en/guide/basic/rspack.mdx
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
  apps/website-new/docs/en/practice/bridge/vue-bridge.mdx
  apps/website-new/docs/zh/guide/basic/rspack.mdx
  apps/website-new/docs/zh/guide/start/quick-start.mdx
  apps/website-new/docs/zh/plugin/plugins/retry-plugin.mdx
  apps/website-new/docs/zh/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/vue-bridge.mdx
  apps/website-new/package.json
  packages/enhanced/src/lib/sharing/ConsumeSharedPlugin.ts
  packages/enhanced/src/lib/sharing/SharePlugin.ts
  packages/enhanced/src/lib/sharing/utils.ts
  packages/managers/src/SharedManager.ts
  packages/managers/src/utils.ts
  packages/rsbuild-plugin/LICENSE
  packages/rsbuild-plugin/README.md
  packages/rsbuild-plugin/package.json
  packages/rsbuild-plugin/project.json
  packages/rsbuild-plugin/rollup.config.js
  packages/rsbuild-plugin/src/cli/index.ts
  packages/rsbuild-plugin/src/utils/index.ts
  packages/rsbuild-plugin/tsconfig.json
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Labels: change: feat

#3065 feat(vite): Compatibility documentation
  apps/website-new/docs/en/configure/index.mdx
  apps/website-new/docs/en/guide/basic/_meta.json
  apps/website-new/docs/en/guide/basic/vite.mdx
  apps/website-new/docs/zh/guide/basic/_meta.json
  apps/website-new/docs/zh/guide/basic/vite.mdx
Labels: change: feat

#3082 fix(manifest): record all remotes which are declared in build config
  .changeset/eleven-flowers-agree.md
  packages/managers/__tests__/__snapshots__/RemoteManager.spec.ts.snap
  packages/managers/src/RemoteManager.ts
  packages/managers/src/constant.ts
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3094 fix: configure the default assetPrefix for MF apps correctly
  .changeset/happy-chefs-pay.md
  packages/rsbuild-plugin/src/cli/index.ts
  packages/rsbuild-plugin/src/utils/constant.ts
  packages/rsbuild-plugin/src/utils/index.ts
Labels: change: fix

#3092 docs(website-new): add nx guides
  apps/website-new/docs/en/_meta.json
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/en/practice/frameworks/angular/_meta.json
  apps/website-new/docs/en/practice/frameworks/angular/using-nx-for-angular.mdx
  apps/website-new/docs/en/practice/frameworks/react/_meta.json
  apps/website-new/docs/en/practice/frameworks/react/using-nx-for-react.mdx
Labels: change: docs

#3102 fix(rsbuild-plugin): failed to load remote modules with `server.base`
  apps/router-demo/router-host-2000/package.json
  apps/router-demo/router-host-v5-2200/package.json
  apps/router-demo/router-host-vue3-2100/package.json
  apps/router-demo/router-remote1-2001/package.json
  apps/router-demo/router-remote2-2002/package.json
  apps/router-demo/router-remote3-2003/package.json
  apps/router-demo/router-remote4-2004/package.json
  packages/rsbuild-plugin/package.json
  packages/rsbuild-plugin/src/cli/index.ts
  pnpm-lock.yaml
Labels: change: fix

#3090 docs: add docs for @mf-types related errors
  apps/website-new/docs/en/guide/basic/error-catalog.mdx
Labels: change: docs

#3111 feat(nextjs-mf): support next 15 peer dep
  .changeset/mighty-seas-jump.md
  apps/3000-home/package.json
  apps/3001-shop/package.json
  apps/3002-checkout/package.json
  apps/website-new/docs/en/guide/framework/nextjs.mdx
  apps/website-new/docs/en/practice/frameworks/next/index.mdx
  apps/website-new/docs/zh/guide/framework/nextjs.mdx
  apps/website-new/docs/zh/practice/frameworks/next/index.mdx
  package.json
  packages/nextjs-mf/README.md
  packages/nextjs-mf/package.json
  pnpm-lock.yaml
Labels: change: feat

#3091 docs: fixed a config error in quick-start.mdx
  apps/website-new/docs/en/guide/start/quick-start.mdx
Labels: change: docs

#3117 fix: do not crash if hmr fails
  .changeset/ai-lazy-tiger.md
  package.json
  packages/node/src/utils/hot-reload.ts
Labels: change: fix

#3095 fix(rspack): only patchChunkSplit when config set exposes
  .changeset/tricky-sheep-travel.md
  packages/rspack/src/ModuleFederationPlugin.ts
Labels: change: fix

#3120 fix: add optional check while accessing webpack internals #2968
  .changeset/chilly-experts-walk.md
  packages/node/src/utils/hot-reload.ts
Labels: change: fix

#3127 fix(retry-plugin): error-boundary should render until script retry finished
  .changeset/blue-poets-play.md
  apps/router-demo/router-host-2000/src/App.tsx
  apps/router-demo/router-host-2000/src/runtime-plugin/retry.ts
  apps/website-new/docs/en/plugin/plugins/retry-plugin.mdx
  apps/website-new/docs/zh/plugin/plugins/retry-plugin.mdx
  packages/retry-plugin/__tests__/retry.spec.ts
  packages/retry-plugin/src/constant.ts
  packages/retry-plugin/src/fetch-retry.ts
  packages/retry-plugin/src/index.ts
  packages/retry-plugin/src/script-retry.ts
  packages/retry-plugin/src/types.d.ts
  packages/runtime/src/core.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/remote/index.ts
Labels: change: fix

#3140 fix: storybook addon should disable hmr to avoid conflict with remote…
  .changeset/tasty-birds-dress.md
  packages/storybook-addon/src/utils/with-module-federation-enhanced-rsbuild.ts
Labels: change: fix
