Repository module-federation/core, pull requests merged in 2024-09, with the labels that each got.

#2915 fix(nextjs-mf): make CSR and SSR image loading consistent in next-mf (#2873)
  .changeset/perfect-spies-stare.md
  packages/nextjs-mf/src/loaders/fixImageLoader.ts
Labels: change: fix

#2920 fix: bump nx/rspack to latest for nx upgrade
  apps/manifest-demo/3010-rspack-provider/rspack.config.js
  apps/manifest-demo/3011-rspack-manifest-provider/rspack.config.js
  apps/manifest-demo/3012-rspack-js-entry-provider/rspack.config.js
  apps/react-ts-remote/rspack.config.js
  package.json
  pnpm-lock.yaml
Labels: change: fix

#2918 feat(nextjs-mf): remove module-federation/utilities
  .changeset/wicked-tools-think.md
  .github/workflows/e2e-modern.yml
  apps/3000-home/pages/home/exposed-pages.tsx
  apps/3001-shop/package.json
  apps/3001-shop/pages/shop/exposed-pages.tsx
  apps/3002-checkout/pages/checkout/exposed-pages.tsx
  apps/website-new/docs/en/guide/framework/nextjs.mdx
  packages/enhanced/package.json
  packages/nextjs-mf/src/internal.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  packages/nextjs-mf/utils/build-utils.ts
  packages/nextjs-mf/utils/index.ts
  pnpm-lock.yaml
Labels: change: feat

#2919 fix(enhanced): support esmodule output
  .changeset/chatty-hornets-attend.md
  .changeset/silly-olives-help.md
  packages/enhanced/jest.embed.ts
  packages/enhanced/project.json
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.ts
  packages/enhanced/src/lib/startup/StartupHelpers.ts
  packages/enhanced/test/ConfigTestCases.embedruntime.js
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/configCases/container/exposed-overridables/webpack.config.js
  packages/enhanced/test/configCases/container/module-federation/webpack.config.js
  packages/enhanced/test/script-experiments.js
  packages/node/src/plugins/NodeFederationPlugin.ts
Labels: change: fix

#2926 fix: bundle polyfills
  packages/nextjs-mf/package.json
  packages/runtime/package.json
  packages/runtime/project.json
  packages/runtime/rollup.config.js
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/rollup.config.js
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/project.json
  packages/webpack-bundler-runtime/rollup.config.js
  pnpm-lock.yaml
Labels: change: fix

#2931 fix: retry-plugin package.json main, module and types paths
  .changeset/eighty-seals-lay.md
  packages/retry-plugin/package.json
  packages/retry-plugin/src/fetch-retry.ts
  packages/retry-plugin/src/script-retry.ts
  packages/retry-plugin/src/types.d.ts
Labels: change: fix

#2940 fix(modernjs): correct splitChunks.cacheGroups key which need to be removed
  .changeset/grumpy-lobsters-boil.md
  packages/modernjs/src/cli/utils.ts
Labels: change: fix

#2939 fix(modernjs): auto set enableAsyncEntry when bundler is rspack
  .changeset/nice-crews-beg.md
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/ssrPlugin.ts
Labels: change: fix

#2943 fix(runtime): set loading if registeredShared not set
  .changeset/rude-trees-ring.md
  packages/runtime/__tests__/shares.spec.ts
  packages/runtime/src/shared/index.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/storybook-addon/src/lib/storybook-addon.ts
Labels: change: fix

#2947 fix(modernjs): mfConfigPlugin should run after modernjs initial plugin
  .changeset/fast-cherries-itch.md
  packages/modernjs/src/cli/configPlugin.ts
Labels: change: fix

#2950 feat: adjust bridge router alias strategy
  .changeset/fifty-kangaroos-compete.md
  packages/bridge/bridge-react-webpack-plugin/src/utis.ts
Labels: change: feat

#2952 fix(dts-plugin): zipName should add prefix if remoteEntry has it
  .changeset/kind-cups-stare.md
  packages/dts-plugin/src/core/lib/utils.ts
  packages/manifest/src/utils.ts
Labels: change: fix

#2975 fix: modernjs ssr demo is broken, should use main branch
  apps/website-new/docs/en/guide/framework/modernjs.mdx
  apps/website-new/docs/zh/guide/framework/modernjs.mdx
Labels: change: fix

#2988 fix: data prefetch test
  packages/data-prefetch/__tests__/react.spec.ts
  packages/data-prefetch/src/prefetch.ts
Labels: change: fix

#2998 fix: upgrade nx ci error
  .github/workflows/e2e-modern.yml
  apps/manifest-demo/3010-rspack-provider/tsconfig.app.json
  apps/manifest-demo/3010-rspack-provider/tsconfig.json
  packages/data-prefetch/rollup.config.js
Labels: change: fix

#3002 fix(enhanced): container addInclude wrap in make hook
  .changeset/ai-hungry-tiger.md
  ai-lint-fix.js
  packages/enhanced/project.json
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/script-experiments.js
  packages/enhanced/test/script.js
Labels: change: fix

#2958 fix(dts-plugin): support exposes files with multiple dots in names
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
Labels: change: fix

#2991 docs: add eager consumption error to error-catalog.mdx
  apps/website-new/docs/en/guide/basic/error-catalog.mdx
Labels: change: docs

#3000 fix: Adds missing import of loadRemote
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
Labels: change: fix

#3004 fix(nextjs-mf): use addInclude to ensure defaults are consumed somewhere
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
Labels: change: fix

#3008 fix(dts-plugin): ignore .vue ext
  .changeset/brown-cameras-decide.md
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  pnpm-lock.yaml
Labels: change: fix

#2934 feat: support node esmodule and mf-manifest esmodule
  package.json
  packages/runtime/src/plugins/generate-preload-assets.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/dom.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/node.ts
Labels: change: feat

#3013 feat: support node esmodule and mf-manifest esmodule (#2934)
  .github/workflows/release.yml
  package.json
  packages/runtime/src/plugins/generate-preload-assets.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/dom.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/node.ts
  pnpm-lock.yaml
Labels: change: feat

#2960 fix(enhanced): shared runtime
  .vscode/launch.json
  .vscode/tasks.json
  apps/checkout_remoteEntry.js
  apps/home_app_remoteEntry.js
  apps/shop_remoteEntry.js
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimePlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/next-fragments.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerPlugin.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerRuntimeModule.ts
  packages/runtime/package.json
  packages/runtime/src/core.ts
  packages/runtime/src/embedded.ts
  packages/runtime/src/global.ts
  packages/runtime/src/index.ts
  packages/runtime/src/remote/index.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/node.ts
  packages/sdk/src/types/hooks.ts
  packages/typescript/src/plugins/FederatedTypesPlugin.ts
  packages/webpack-bundler-runtime/src/embedded.ts
  pnpm-lock.yaml
Labels: change: fix

#3019 fix(runtime): catch init remote error in errorLoadRemote hook
  .changeset/nervous-tomatoes-raise.md
  packages/runtime/src/remote/index.ts
  packages/runtime/src/shared/index.ts
Labels: change: fix
