Repository module-federation/core, pull requests merged in 2024-06, with the labels that each got.

#2556 docs: update href in quick-start.mdx files
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/zh/guide/start/quick-start.mdx
Labels: change: docs

#2561 feat(runtime): add mf_module_id to remote to add module debugging information
  .changeset/sharp-toys-smile.md
  packages/runtime/src/module/index.ts
  packages/runtime/src/remote/index.ts
Labels: change: feat

#2574 fix: add requiredVersion to manifest.shared
  .changeset/angry-items-cover.md
  packages/manifest/src/ModuleHandler.ts
Labels: change: fix

#2573 feat(runtime): add bridge debug info
  packages/runtime/src/module/index.ts
Labels: change: feat

#2575 fix: rspack splitChunk.chunks should use function to prevent wrong be…
  .changeset/shy-pears-raise.md
  packages/rspack/src/ModuleFederationPlugin.ts
Labels: change: fix

#2560 fix: add protocol in node automaticly
  .changeset/eleven-seals-deny.md
  .changeset/seven-pans-argue.md
  packages/manifest/src/StatsManager.ts
  packages/runtime/src/plugins/snapshot/index.ts
  packages/runtime/src/utils/load.ts
  packages/sdk/src/types/stats.ts
Labels: change: fix

#2577 docs: add shared.shareScope
  apps/website-new/docs/en/configure/shared.mdx
  apps/website-new/docs/zh/configure/shared.mdx
Labels: change: docs

#2580 fix: fixed preload resource reuse issues and devtool hmr shared
  .changeset/perfect-camels-type.md
  .changeset/wet-geckos-tan.md
  .github/workflows/build-and-test.yml
  apps/runtime-demo/3006-runtime-remote/src/components/WebpackPng.tsx
  apps/runtime-demo/3006-runtime-remote/src/components/a.css
  packages/chrome-devtools/src/utils/chrome/fast-refresh.ts
  packages/runtime/__tests__/__snapshots__/preload-remote.spec.ts.snap
  packages/runtime/src/plugins/snapshot/index.ts
  packages/runtime/src/utils/preload.ts
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#2585 fix: do not delete link tag if no preload
  .changeset/quiet-parrots-battle.md
  packages/runtime/src/utils/preload.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#2571 fix(nextjs-mf): Do not attach runtime to api runtime chunks
  .changeset/sharp-dryers-sparkle.md
  .github/workflows/build-and-test.yml
  packages/enhanced/src/lib/container/AsyncBoundaryPlugin.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerRuntimeModule.ts
Labels: change: fix

#2591 feat(enhanced): add repository property to the enhanced package
  .changeset/eight-wolves-beg.md
  packages/enhanced/package.json
Labels: change: feat

#2583 feat: support pass shareScopeMap
  .changeset/silver-dolphins-relate.md
  packages/runtime/src/core.ts
  packages/runtime/src/module/index.ts
  packages/runtime/src/shared/index.ts
  packages/runtime/src/type/config.ts
  packages/webpack-bundler-runtime/src/initContainerEntry.ts
Labels: change: feat

#2604 fix(nextjs-mf): do not crash if host is not next
  .changeset/ten-apples-kneel.md
  packages/nextjs-mf/src/plugins/container/runtimePlugin.ts
Labels: change: fix

#2601 fix(runtime): do not apply symbol if object not extensible
  .changeset/five-chefs-smoke.md
  packages/runtime/src/module/index.ts
Labels: change: fix

#2608 fix(sdk): the returned properties are used by default when create script and create link hook
  .changeset/strange-bottles-confess.md
  packages/sdk/__tests__/dom.spec.ts
  packages/sdk/src/dom.ts
Labels: change: fix

#2570 feat: support dynamic type hints
  .changeset/gentle-melons-deliver.md
  apps/runtime-demo/3006-runtime-remote/webpack.config.js
  apps/runtime-demo/3007-runtime-remote/webpack.config.js
  apps/website-new/docs/en/configure/dev.mdx
  apps/website-new/docs/zh/configure/dev.mdx
  packages/dts-plugin/package.json
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/index.ts
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/dts-plugin/src/core/lib/DtsWorker.ts
  packages/dts-plugin/src/core/lib/archiveHandler.test.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.test.ts
  packages/dts-plugin/src/dev-worker/DevWorker.ts
  packages/dts-plugin/src/dev-worker/forkDevWorker.ts
  packages/dts-plugin/src/dev-worker/index.ts
  packages/dts-plugin/src/dev-worker/utils.ts
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/runtime-plugins/dynamic-remote-type-hints-plugin.ts
  packages/dts-plugin/src/runtime-plugins/utils.ts
  packages/dts-plugin/src/server/DevServer.ts
  packages/dts-plugin/src/server/Publisher.ts
  packages/dts-plugin/src/server/WebClient.ts
  packages/dts-plugin/src/server/broker/Broker.ts
  packages/dts-plugin/src/server/broker/createBroker.ts
  packages/dts-plugin/src/server/createWebsocket.ts
  packages/dts-plugin/src/server/message/API/API.ts
  packages/dts-plugin/src/server/message/API/FetchTypes.ts
  packages/dts-plugin/src/server/message/API/index.ts
  packages/dts-plugin/src/server/message/Action/Action.ts
  packages/dts-plugin/src/server/message/Action/AddDynamicRemote.ts
  packages/dts-plugin/src/server/message/Action/AddSubscriber.ts
  packages/dts-plugin/src/server/message/Action/FetchTypes.ts
  packages/dts-plugin/src/server/message/Action/index.ts
  packages/dts-plugin/tsconfig.json
  packages/dts-plugin/tsconfig.spec.json
  packages/dts-plugin/tsup.config.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/runtime/src/remote/index.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/sdk/src/utils.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.ts
  pnpm-lock.yaml
Labels: change: feat

#2478 fix(dts-plugin): let dts_plugin handle remote paths instead of abs URLs
  .changeset/late-numbers-rescue.md
  packages/dts-plugin/src/core/configurations/hostPlugin.test.ts
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
Labels: change: fix

#2612 fix(chrome-devtools): fix sharedInfo conflict with userOptions.sharedInfo cause hmr fail
  .changeset/little-pugs-lay.md
  packages/chrome-devtools/src/utils/chrome/fast-refresh.ts
Labels: change: fix

#2613 fix(sdk): use variable instead of constant
  .changeset/three-adults-join.md
  packages/sdk/src/utils.ts
Labels: change: fix

#2623 fix: use ipv4 first while load local remote
  .changeset/clean-wombats-kiss.md
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.test.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/src/core/lib/utils.spec.ts
  packages/dts-plugin/src/core/lib/utils.ts
Labels: change: fix

#2622 docs: fix error link
  apps/website-new/docs/zh/guide/basic/runtime.mdx
Labels: change: docs

#2624 fix(dts-plugin): replace sourceEntry with index if the value is '.'
  .changeset/nine-queens-ring.md
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
Labels: change: fix

#2626 feat(dts-plugin): decode encoded remote name
  .changeset/dull-berries-judge.md
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/sdk/src/constant.ts
  packages/webpack-bundler-runtime/src/constant.ts
  packages/webpack-bundler-runtime/src/remotes.ts
Labels: change: feat

#2625 docs: add doc details
  apps/website-new/docs/en/guide/basic/runtime.mdx
  apps/website-new/docs/en/guide/basic/type-prompt.mdx
  apps/website-new/docs/public/guide/type-prompt/dynamic-remote-hot-types-reload-static.gif
  apps/website-new/docs/zh/guide/basic/runtime.mdx
  apps/website-new/docs/zh/guide/basic/type-prompt.mdx
Labels: change: docs

#2615 fix: use userOptions.typesFolder first
  .changeset/spotty-laws-sparkle.md
  .changeset/weak-dolls-hug.md
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/enhanced/package.json
  pnpm-lock.yaml
Labels: change: fix

#2634 fix: no delete exist types if fetch new types failed
  .changeset/mighty-goats-hang.md
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/vite.config.ts
Labels: change: fix

#2620 feat: external extractor
  packages/esbuild/package.json
  packages/esbuild/project.json
  packages/esbuild/src/adapters/lib/collect-exports.ts
  packages/esbuild/src/adapters/lib/commonjs.ts
  packages/esbuild/src/adapters/lib/lexer.ts
  packages/esbuild/src/adapters/lib/plugin.ts
  packages/esbuild/src/adapters/lib/transform.ts
  packages/esbuild/src/adapters/lib/utils.ts
  pnpm-lock.yaml
Labels: change: feat

#2639 fix(dts-plugin): ensure kill fork child process when the task is finished
  .changeset/green-pants-sip.md
  packages/dts-plugin/src/core/lib/DtsWorker.ts
  packages/dts-plugin/src/core/lib/utils.ts
Labels: change: fix

#2646 fix: check pid is undefined before kill it
  .changeset/cuddly-cougars-deny.md
  packages/dts-plugin/src/core/lib/DtsWorker.ts
Labels: change: fix

#2645 fix: download api types when types refresh
  .changeset/nervous-cougars-switch.md
  packages/dts-plugin/src/core/lib/DTSManager.ts
Labels: change: fix

#2648 feat(bridge): Supports exporting and loading of application-level modules (with routing), currently supports react and vue3
  .changeset/lemon-pandas-drop.md
  apps/website-new/docs/en/practice/bridge/index.mdx
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/index.mdx
  apps/website-new/docs/zh/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/vue-bridge.mdx
Labels: change: feat

#2647 fix: fix expose collect assets do not filter entry point cause load extra file
  .changeset/young-books-carry.md
  packages/manifest/src/StatsManager.ts
  packages/manifest/src/utils.ts
Labels: change: fix

#2651 docs: update framework version
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/react-bridge.mdx
Labels: change: docs

#2661 fix: kill ports before next e2e
  .github/workflows/build-and-test.yml
  apps/runtime-demo/3005-runtime-host/@mf-types/index.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/WebpackPng.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/WebpackSvg.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/apis.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/compiled-types/apps/runtime-demo/3006-runtime-remote/src/components/WebpackPng.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/compiled-types/apps/runtime-demo/3006-runtime-remote/src/components/WebpackSvg.d.ts
  apps/runtime-demo/3005-runtime-host/@mf-types/remote1/useCustomRemoteHook.d.ts
Labels: change: fix

#2650 fix(runtime): modify import typescript type syntax
  packages/runtime/src/remote/index.ts
Labels: change: fix

#2660 fix(docs): zh/practice/bridge/index link error
  apps/website-new/docs/zh/practice/bridge/index.mdx
Labels: change: fix

#2659 fix(docs): zh/practice/bridge/index char lack
  apps/website-new/docs/zh/practice/bridge/index.mdx
Labels: change: fix

#2638 fix(enhanced): support get public path
  .changeset/cold-rocks-listen.md
  .github/workflows/build-and-test.yml
  .gitignore
  apps/runtime-demo/3005-runtime-host/@mf-types/index.d.ts
  apps/runtime-demo/3005-runtime-host/package.json
  apps/runtime-demo/3005-runtime-host/project.json
  apps/website-new/docs/en/configure/getpublicpath.mdx
  package.json
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/DtsWorker.spec.ts
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/container/runtime/RemoteEntryPlugin.ts
  packages/manifest/src/StatsManager.ts
  packages/native-federation-typescript/src/index.test.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Labels: change: fix

#2642 fix(nextjs-mf): enable async function support
  .changeset/old-teachers-eat.md
  .github/workflows/build-and-test.yml
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  webpack/types.d.ts
Labels: change: fix

#2664 fix(docs): english bridge overview title
  apps/website-new/docs/en/practice/bridge/index.mdx
Labels: change: fix

#2665 fix(docs): missing PackageManagerTabs import
  apps/website-new/docs/en/practice/bridge/vue-bridge.mdx
Labels: change: fix

#2641 fix(dts-plugin): emit dts relative to remote or manifest
  .changeset/unlucky-jars-drum.md
  .github/workflows/build-and-test.yml
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
Labels: change: fix

#2603 fix(node): allow fetch override on runtime plugin
  .changeset/beige-impalas-brake.md
  .changeset/seven-moons-sort.md
  .changeset/thick-cups-hope.md
  .changeset/warm-forks-collect.md
  .changeset/wild-pillows-help.md
  package.json
  packages/node/src/runtimePlugin.ts
  packages/runtime/src/core.ts
  packages/sdk/src/node.ts
  pnpm-lock.yaml
Labels: change: fix
