Repository module-federation/core, pull requests merged in 2025-02, with the labels that each got.

#3474 feat(runtime): allow errorLoadRemote hook catch remote entry resource loading error
  .changeset/long-forks-rule.md
  apps/router-demo/router-host-2000/cypress/e2e/remote-resource-error.cy.ts
  apps/router-demo/router-host-2000/package.json
  apps/router-demo/router-host-2000/rsbuild.config.ts
  apps/router-demo/router-host-2000/src/App.tsx
  apps/router-demo/router-host-2000/src/navigation.tsx
  apps/router-demo/router-host-2000/src/runtime-plugin/error-handling/index.ts
  apps/router-demo/router-host-2000/src/runtime-plugin/error-handling/lifecycle-based.ts
  apps/router-demo/router-host-2000/src/runtime-plugin/error-handling/simple.ts
  apps/router-demo/router-host-2000/src/runtime-plugin/fallback.ts
  apps/router-demo/router-host-2000/src/runtime-plugin/retry.ts
  apps/router-demo/router-remote1-2001/package.json
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  apps/router-demo/router-remote1-2001/src/App.tsx
  apps/website-new/docs/en/blog/_meta.json
  apps/website-new/docs/en/blog/error-load-remote.mdx
  apps/website-new/docs/zh/blog/_meta.json
  apps/website-new/docs/zh/blog/error-load-remote.mdx
  apps/website-new/src/components/BlogGif.tsx
  apps/website-new/src/components/BlogGifGrid.tsx
  packages/runtime-core/src/plugins/snapshot/SnapshotHandler.ts
  packages/runtime-core/src/remote/index.ts
  pnpm-lock.yaml
Labels: change: feat

#3500 fix(bridge-react): the bridge-react package was failing when used with React 16/17 due to missing react-dom/client module
  .changeset/calm-tigers-own.md
  apps/router-demo/router-remote1-2001/package.json
  packages/bridge/bridge-react/src/compat.ts
  packages/bridge/bridge-react/src/provider.tsx
  pnpm-lock.yaml
Labels: change: fix

#3488 fix(enhanced): refactor hoisting plugins
  .github/workflows/e2e-next-dev.yml
  apps/manifest-demo/3009-webpack-provider/webpack.config.js
  apps/manifest-demo/webpack-host/webpack.config.js
  apps/modernjs/modern.config.ts
  apps/modernjs/project.json
  apps/node-host/src/bootstrap.js
  apps/node-host/src/main.js
  apps/node-host/webpack.config.js
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimePlugin.ts
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.ts
  packages/enhanced/src/lib/startup/StartupHelpers.ts
  packages/enhanced/test/ConfigTestCases.basictest.js
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/configCases/container/exposed-overridables/webpack.config.js
  packages/enhanced/test/configCases/container/module-federation/webpack.config.js
  packages/nextjs-mf/src/plugins/container/InvertedContainerRuntimeModule.ts
Labels: change: fix

#3516 fix: enable SSR by utilizing pluginOptions and configuration
  .changeset/flat-olives-check.md
  packages/modernjs/src/cli/ssrPlugin.ts
Labels: change: fix

#3521 docs(website-new): add Nx and Zephyr Cloud link at zh-lang
  apps/website-new/docs/zh/_meta.json
Labels: change: docs

#3522 fix(enhanced): reuse cached runtime entry
  .changeset/big-pianos-teach.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
Labels: change: fix

#3506 perf(dts-plugin): enable tsbuildinfo
  .changeset/cuddly-turkeys-cry.md
  apps/website-new/docs/en/guide/troubleshooting/type/TYPE-001.mdx
  apps/website-new/docs/zh/guide/troubleshooting/type/TYPE-001.mdx
  packages/dts-plugin/src/core/configurations/remotePlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
Labels: change: perf

#3534 fix(dts-plugin): add specify dir and mf name to cache path
  .changeset/orange-days-kiss.md
  packages/dts-plugin/package.json
  packages/dts-plugin/project.json
  packages/dts-plugin/src/core/configurations/remotePlugin.test.ts
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.advance.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.general.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.spec.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.test.ts
  pnpm-lock.yaml
Labels: change: fix

#3536 fix(dts-plugin): consume api types if adding new one
  .changeset/dry-geese-drum.md
  packages/dts-plugin/src/core/lib/DTSManager.ts
Labels: change: fix

#3515 docs: Fix incorrect config name `exposes`
  apps/website-new/docs/zh/configure/index.mdx
Labels: change: docs

#3532 fix(dts-plugin): support remoteTypeUrls option which allow user to specify the remote types url
  .changeset/clean-pets-kick.md
  .changeset/curly-bears-marry.md
  .github/workflows/e2e-modern-ssr.yml
  apps/website-new/docs/en/configure/dts.mdx
  apps/website-new/docs/zh/configure/dts.mdx
  packages/dts-plugin/src/core/configurations/hostPlugin.test.ts
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/DtsWorker.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/dts-plugin/src/plugins/ConsumeTypesPlugin.ts
  packages/dts-plugin/src/plugins/DevPlugin.ts
  packages/dts-plugin/src/plugins/DtsPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
  packages/sdk/__tests__/parseEntry.spec.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/sdk/src/utils.ts
Labels: change: fix

#3519 perf(webpack-bundler-runtime): bundle sdk into output to help treeshake
  .changeset/loud-papayas-attend.md
  packages/dts-plugin/src/server/utils/log.ts
  packages/sdk/src/utils.ts
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/project.json
  packages/webpack-bundler-runtime/rollup.config.js
  packages/webpack-bundler-runtime/src/constant.ts
  packages/webpack-bundler-runtime/src/container.ts
  packages/webpack-bundler-runtime/src/remotes.ts
Labels: change: perf

#3543 fix(bridge-react): prevent destroy/render the remote component every time after the states changed
  .changeset/dry-keys-taste.md
  apps/router-demo/router-host-2000/src/pages/Home.tsx
  apps/router-demo/router-remote1-2001/rsbuild.config.ts
  apps/router-demo/router-remote1-2001/src/button.tsx
  apps/router-demo/router-remote1-2001/src/export-Button.tsx
  packages/bridge/bridge-react/src/provider/create.tsx
  packages/bridge/bridge-react/src/remote/component.tsx
  packages/bridge/bridge-react/src/remote/create.tsx
Labels: change: fix
