Repository module-federation/core, pull requests merged in 2025-04, with the labels that each got.

#3652 fix(enhanced): remove normal module replacement of runtime
  .changeset/serious-rules-shake.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
Labels: change: fix

#3662 feat(dts-plugin): support tspc
  .changeset/tasty-horses-juggle.md
  apps/website-new/docs/en/configure/dts.mdx
  apps/website-new/docs/en/guide/troubleshooting/type/_meta.json
  apps/website-new/docs/en/guide/troubleshooting/type/overview.md
  apps/website-new/docs/zh/configure/dts.mdx
  apps/website-new/docs/zh/guide/troubleshooting/type/_meta.json
  apps/website-new/docs/zh/guide/troubleshooting/type/overview.md
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#3661 fix: correct publicpath in build
  .changeset/angry-owls-retire.md
  .changeset/early-toys-occur.md
  packages/modernjs/package.json
  packages/modernjs/src/cli/configPlugin.spec.ts
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/index.ts
  packages/modernjs/src/cli/manifest.ts
  packages/modernjs/src/cli/ssrPlugin.ts
  packages/modernjs/src/cli/utils.ts
  packages/modernjs/src/constant.ts
  packages/modernjs/src/types/index.ts
  packages/sdk/__tests__/utils.spec.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
  packages/sdk/src/types/snapshot.ts
  packages/sdk/src/types/stats.ts
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Labels: change: fix

#3675 fix(modern-js-plugin): apply ssr.distOutputDir in bundlerChain
  .changeset/soft-islands-protect.md
  packages/modernjs/src/cli/ssrPlugin.ts
Labels: change: fix

#3638 feat: vue hmr
  packages/chrome-devtools/src/utils/sdk/index.ts
Labels: change: feat

#3679 fix(manifest): correct shared assets and filter expose assets
  .changeset/green-countries-beg.md
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3688 perf: switch to ESM by default
  .changeset/gold-bottles-promise.md
  .cursorignore
  apps/bundle-size/.babelrc
  apps/bundle-size/cypress.config.ts
  apps/bundle-size/cypress/e2e/app.cy.ts
  apps/bundle-size/cypress/fixtures/example.json
  apps/bundle-size/cypress/support/app.po.ts
  apps/bundle-size/cypress/support/commands.ts
  apps/bundle-size/cypress/support/e2e.ts
  apps/bundle-size/cypress/tsconfig.json
  apps/bundle-size/package.json
  apps/bundle-size/project.json
  apps/bundle-size/remotes.d.ts
  apps/bundle-size/src/HelloWorld.tsx
  apps/bundle-size/src/bootstrap.tsx
  apps/bundle-size/src/index.html
  apps/bundle-size/src/index.ts
  apps/bundle-size/tsconfig.app.json
  apps/bundle-size/tsconfig.json
  apps/bundle-size/webpack.config.js
  packages/data-prefetch/jest.config.cjs
  packages/data-prefetch/package.json
  packages/data-prefetch/project.json
  packages/data-prefetch/rollup.config.cjs
  packages/data-prefetch/src/cli/index.ts
  packages/enhanced/package.json
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/esbuild/package.json
  packages/node/package.json
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/runtime-core/package.json
  packages/runtime-core/project.json
  packages/runtime-core/rollup.config.cjs
  packages/runtime-core/src/core.ts
  packages/runtime-plugins/inject-external-runtime-core-plugin/package.json
  packages/runtime-plugins/inject-external-runtime-core-plugin/project.json
  packages/runtime-plugins/inject-external-runtime-core-plugin/rollup.config.cjs
  packages/runtime-tools/package.json
  packages/runtime-tools/project.json
  packages/runtime-tools/rollup.config.cjs
  packages/runtime/package.json
  packages/runtime/project.json
  packages/runtime/rollup.config.cjs
  packages/sdk/jest.config.cjs
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/rollup.config.cjs
  packages/webpack-bundler-runtime/jest.config.cjs
  packages/webpack-bundler-runtime/package.json
  packages/webpack-bundler-runtime/project.json
  packages/webpack-bundler-runtime/rollup.config.cjs
  pnpm-lock.yaml
Labels: change: perf

#3692 feat(dts-plugin): support exclude extract specify third party dts
  .changeset/proud-rings-kiss.md
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.general.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.spec.ts
  packages/third-party-dts-extractor/src/ThirdPartyExtractor.ts
Labels: change: feat

#3701 perf: remove live binding from cjs builds
  .changeset/small-baboons-nail.md
  packages/error-codes/rollup.config.js
  packages/runtime-core/rollup.config.cjs
  packages/runtime-core/src/global.ts
  packages/runtime-plugins/inject-external-runtime-core-plugin/rollup.config.cjs
  packages/runtime-tools/rollup.config.cjs
Labels: change: perf

#3700 fix(error-codes): typo in docs url message
  packages/error-codes/src/getShortErrorMsg.ts
Labels: change: fix

#3686 fix: remove chunks from installedChunks on fail to enable retries
  .changeset/green-crews-melt.md
  packages/node/src/runtimePlugin.ts
Labels: change: fix

#3709 feat(bridge-react): add error detection for react v19 under the default export createBaseBridgeComponent
  .changeset/plenty-birds-heal.md
  packages/bridge/bridge-react/src/provider/create.tsx
Labels: change: feat

#3708 fix(cli): improve path normalization of `readConfig`
  .changeset/ai-noisy-wolf.md
  package.json
  packages/cli/src/utils/readConfig.ts
Labels: change: fix

#3714 docs: optimize quickstart
  apps/website-new/docs/en/guide/start/quick-start.mdx
  apps/website-new/docs/en/practice/frameworks/react/index.mdx
  apps/website-new/docs/zh/guide/start/quick-start.mdx
  apps/website-new/docs/zh/practice/frameworks/react/index.mdx
Labels: change: docs

#3718 feat(manifest): initialize manifest with required properties from stats
  .changeset/chilled-plums-arrive.md
  packages/manifest/src/ManifestManager.ts
Labels: change: feat

#3717 fix(enhanced): apply getPublicPath only if exposes is set
  .changeset/dull-buttons-sneeze.md
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/rspack/src/RemoteEntryPlugin.ts
  packages/rspack/src/logger.ts
Labels: change: fix

#3728 docs: add shared import
  apps/website-new/docs/en/configure/shared.mdx
  apps/website-new/docs/zh/configure/shared.mdx
Labels: change: docs

#3730 feat(managers): add root option
  .changeset/silent-seas-flow.md
  packages/managers/src/BasicPluginOptionsManager.ts
  packages/managers/src/PKGJsonManager.ts
  packages/managers/src/SharedManager.ts
Labels: change: feat

#3731 fix(modern-js-plugin): export kit namespace to prevent import react directly
  .changeset/many-emus-shave.md
  apps/modernjs-ssr/dynamic-nested-remote/src/components/Content.tsx
  apps/modernjs-ssr/host/src/routes/all/page.tsx
  apps/modernjs-ssr/host/src/routes/dynamic-nested-remote/page.tsx
  apps/modernjs-ssr/host/src/routes/dynamic-remote/page.tsx
  apps/modernjs-ssr/host/src/routes/remote/page.tsx
  apps/modernjs-ssr/nested-remote/src/routes/page.tsx
  apps/website-new/docs/en/guide/framework/modernjs.mdx
  apps/website-new/docs/en/practice/frameworks/modern/dynamic-remote.mdx
  apps/website-new/docs/en/practice/frameworks/modern/index.mdx
  apps/website-new/docs/zh/guide/framework/modernjs.mdx
  apps/website-new/docs/zh/practice/frameworks/modern/dynamic-remote.mdx
  apps/website-new/docs/zh/practice/frameworks/modern/index.mdx
  packages/modernjs/src/cli/configPlugin.spec.ts
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/runtime/index.ts
  packages/modernjs/types.d.ts
Labels: change: fix

#3739 docs: add debug part
  apps/website-new/docs/en/guide/_meta.json
  apps/website-new/docs/en/guide/basic/_meta.json
  apps/website-new/docs/en/guide/debug/_meta.json
  apps/website-new/docs/en/guide/debug/chrome-devtool.mdx
  apps/website-new/docs/en/guide/debug/mode.mdx
  apps/website-new/docs/en/guide/debug/variables.mdx
  apps/website-new/docs/en/guide/start/features.mdx
  apps/website-new/docs/en/guide/start/index.mdx
  apps/website-new/docs/en/guide/troubleshooting/other.mdx
  apps/website-new/docs/zh/guide/_meta.json
  apps/website-new/docs/zh/guide/basic/_meta.json
  apps/website-new/docs/zh/guide/debug/_meta.json
  apps/website-new/docs/zh/guide/debug/chrome-devtool.mdx
  apps/website-new/docs/zh/guide/debug/mode.mdx
  apps/website-new/docs/zh/guide/debug/variables.mdx
  apps/website-new/docs/zh/guide/start/features.mdx
  apps/website-new/docs/zh/guide/start/index.mdx
  apps/website-new/docs/zh/guide/troubleshooting/other.mdx
  apps/website-new/src/components/Collapse.tsx
  packages/sdk/src/types/snapshot.ts
Labels: change: docs
