Repository module-federation/core, pull requests merged in 2025-03, with the labels that each got.

#3565 fix(rsbuild-plugin): add more MF packages to `source.include`
  .changeset/sharp-pans-cheer.md
  packages/rsbuild-plugin/src/cli/index.ts
Labels: change: fix

#3554 perf(dts-plugin): add fetch timeout and add log
  .changeset/seven-geckos-carry.md
  packages/dts-plugin/src/core/configurations/hostPlugin.test.ts
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.general.spec.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/dts-plugin/src/plugins/ConsumeTypesPlugin.ts
  packages/dts-plugin/src/plugins/GenerateTypesPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: perf

#3562 fix(vue3-bridge): resolved remote component prop handling and root container attribute passing
  .changeset/tough-pets-learn.md
  apps/website-new/docs/en/practice/bridge/vue-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/vue-bridge.mdx
  packages/bridge/vue3-bridge/src/create.ts
  packages/bridge/vue3-bridge/src/provider.ts
  packages/bridge/vue3-bridge/src/remoteApp.tsx
Labels: change: fix

#3556 fix(core): fix broken error handling in getManifestJson
  packages/runtime-core/src/plugins/snapshot/SnapshotHandler.ts
Labels: change: fix

#3571 feat: add zephyr options to CLI
  packages/create-module-federation/src/create.ts
  packages/create-module-federation/src/index.ts
Labels: change: feat

#3453 feat(enhanced): make hoisted runtime the default implementation
  .changeset/ai-eager-lion.md
  .changeset/ai-happy-bear.md
  .changeset/ai-lazy-dog.md
  .cursorignore
  .cursorrules
  .github/workflows/e2e-next-dev.yml
  .gitignore
  apps/manifest-demo/3009-webpack-provider/webpack.config.js
  apps/manifest-demo/webpack-host/webpack.config.js
  apps/modernjs/modern.config.ts
  apps/modernjs/project.json
  apps/node-host/src/bootstrap.js
  apps/node-host/src/main.js
  apps/node-host/webpack.config.js
  apps/runtime-demo/3005-runtime-host/webpack.config.js
  apps/runtime-demo/3006-runtime-remote/webpack.config.js
  apps/website-new/docs/en/blog/hoisted-runtime.mdx
  apps/website-new/docs/en/configure/experiments.mdx
  apps/website-new/docs/zh/configure/experiments.mdx
  packages/enhanced/src/lib/container/ContainerEntryDependency.ts
  packages/enhanced/src/lib/container/ContainerEntryModule.ts
  packages/enhanced/src/lib/container/ContainerEntryModuleFactory.ts
  packages/enhanced/src/lib/container/ContainerPlugin.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimeModule.ts
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimePlugin.ts
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/enhanced/src/lib/startup/MfStartupChunkDependenciesPlugin.ts
  packages/enhanced/src/lib/startup/StartupHelpers.ts
  packages/enhanced/src/schemas/container/ContainerPlugin.check.ts
  packages/enhanced/src/schemas/container/ContainerPlugin.json
  packages/enhanced/src/schemas/container/ContainerPlugin.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.check.d.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.check.ts
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.json
  packages/enhanced/src/schemas/container/ModuleFederationPlugin.ts
  packages/enhanced/test/ConfigTestCases.basictest.js
  packages/enhanced/test/ConfigTestCases.embedruntime.js
  packages/enhanced/test/ConfigTestCases.template.js
  packages/enhanced/test/configCases/container/exposed-overridables/webpack.config.js
  packages/enhanced/test/configCases/container/module-federation/webpack.config.js
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/nextjs-mf/src/plugins/container/InvertedContainerRuntimeModule.ts
  packages/sdk/src/types/plugins/ContainerPlugin.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
  pnpm-lock.yaml
Labels: change: feat

#3584 fix(node): delete server module cache if hot reload
  .changeset/dirty-pianos-learn.md
  packages/node/src/utils/hot-reload.ts
Labels: change: fix

#3381 fix(dts-plugin): use `cwd` to create Module Federation tsconfig
  .changeset/rotten-pears-knock.md
  packages/dts-plugin/src/core/lib/typeScriptCompiler.ts
Labels: change: fix

#3589 feat: 处理useRoute()为undefined的场景
  packages/bridge/vue3-bridge/src/create.ts
  packages/bridge/vue3-bridge/src/remoteApp.tsx
Labels: change: feat

#3425 fix syntax highlight in modernjs.mdx
  apps/website-new/docs/en/guide/framework/modernjs.mdx
Labels: no-pr-activity, change: fix

#3551 feat(bridge-react): enable custom createRoot to support React v19 in @module-federation/bridge-react
  .changeset/chatty-days-march.md
  .changeset/neat-types-fix.md
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/practice/bridge/react-bridge.mdx
  packages/bridge/bridge-react/__tests__/bridge.spec.tsx
  packages/bridge/bridge-react/src/index.ts
  packages/bridge/bridge-react/src/provider/compat.ts
  packages/bridge/bridge-react/src/provider/context.tsx
  packages/bridge/bridge-react/src/provider/create.tsx
  packages/bridge/bridge-react/src/remote/component.tsx
  packages/bridge/bridge-react/src/remote/create.tsx
  packages/bridge/bridge-react/src/types.ts
Labels: change: feat

#3587 fix(runtime): preload filter loaded resources
  .changeset/pink-rings-reply.md
  packages/modernjs/src/cli/configPlugin.ts
  packages/modernjs/src/cli/ssrPlugin.ts
  packages/modernjs/src/cli/utils.ts
  packages/modernjs/src/runtime/index.ts
  packages/runtime-core/src/plugins/generate-preload-assets.ts
Labels: change: fix

#3422 fix(rspack): support getPublicPath
  .changeset/shiny-geckos-switch.md
  apps/router-demo/router-remote3-2003/rsbuild.config.ts
  apps/router-demo/router-remote4-2004/rsbuild.config.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/rspack/package.json
  packages/rspack/rollup.config.js
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/rspack/src/RemoteEntryPlugin.ts
  packages/runtime-plugins/inject-external-runtime-core-plugin/project.json
  pnpm-lock.yaml
Labels: no-pr-activity, change: fix

#3601 fix(enhanced): use default runtime export
  .changeset/chatty-months-share.md
  packages/enhanced/src/lib/container/runtime/FederationRuntimePlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/index.ts
  packages/runtime/__tests__/sync.spec.ts
  packages/runtime/package.json
  packages/runtime/project.json
  packages/runtime/rollup.config.js
  packages/runtime/src/embedded.ts
Labels: change: fix

#3604 fix(react-bridge): correct react-router-dom peer dependency
  packages/bridge/bridge-react/package.json
Labels: change: fix

#3611 fix(bridge-react): remove loadable/component dep
  .changeset/nice-rice-count.md
  packages/bridge/bridge-react/package.json
  pnpm-lock.yaml
Labels: change: fix

#3615 docs: optimize dts 001 error: delete cache dir first
  apps/website-new/docs/en/guide/troubleshooting/type/TYPE-001.mdx
  apps/website-new/docs/zh/guide/troubleshooting/type/TYPE-001.mdx
Labels: change: docs

#3623 fix(node): correct react peer dependency
  packages/node/package.json
  pnpm-lock.yaml
Labels: change: fix

#3605 fix: snapshot handling in react-native
  .changeset/mighty-spiders-repeat.md
  .changeset/silver-keys-rule.md
  packages/runtime-core/src/utils/tool.ts
  packages/sdk/src/env.ts
  packages/sdk/src/generateSnapshotFromManifest.ts
Labels: change: fix

#3635 fix(rsbuild-plugin): explicitly setting CORS headers
  packages/rsbuild-plugin/src/cli/index.ts
Labels: change: fix

#3645 fix(vue3-bridge): correct cjs build output file extension
  packages/bridge/vue3-bridge/package.json
  packages/bridge/vue3-bridge/vite.config.ts
Labels: change: fix
