Repository module-federation/core, pull requests merged in 2025-07, with the labels that each got.

#3855 fix(modern-js-plugin): use contenthash instead of chunkhash
  .changeset/ninety-points-impress.md
  .changeset/sour-dragons-hang.md
  apps/node-host/webpack.config.js
  packages/modernjs/src/cli/configPlugin.ts
  packages/nextjs-mf/src/plugins/NextFederationPlugin/apply-server-plugins.ts
  packages/node/README.md
  packages/node/src/plugins/NodeFederationPlugin.ts
  packages/node/src/plugins/UniversalFederationPlugin.ts
  packages/rsbuild-plugin/src/utils/ssr.spec.ts
  packages/rsbuild-plugin/src/utils/ssr.ts
Labels: change: fix

#3868 docs: translate cli component
  apps/website-new/docs/en/guide/basic/cli.mdx
  apps/website-new/src/components/common/cli/view-all-cmds-en.mdx
Labels: change: docs

#3870 fix(rsbuild-plugin): correct ESM output extension
  packages/rsbuild-plugin/package.json
  packages/rsbuild-plugin/rollup.config.js
Labels: change: fix

#3886 feat: devtool add header slot
  packages/chrome-devtools/src/App.tsx
  packages/chrome-devtools/src/component/Form/index.module.scss
  packages/chrome-devtools/src/component/Form/index.tsx
  packages/chrome-devtools/src/component/Layout/index.tsx
  packages/chrome-devtools/src/utils/types/common.ts
Labels: change: feat

#3892 docs(next): correct typo in recommended badge
  apps/website-new/docs/en/practice/frameworks/next/index.mdx
Labels: change: docs

#3889 fix: set files on runtime-tools pkg
  .changeset/tidy-foxes-fix.md
  packages/runtime-tools/package.json
Labels: change: fix

#3895 fix(dts-plugin): add expose file imported files to tsconfig files
  .changeset/stale-roses-drive.md
  packages/dts-plugin/src/core/configurations/remotePlugin.ts
Labels: change: fix

#3900 fix(enhanced): add runtime safety checks to prevent errors
  .changeset/runtime-safety-checks.md
  INCREMENTAL_PR_PLAN_REVISED.md
  apps/3000-home/package.json
  apps/3001-shop/package.json
  apps/3002-checkout/package.json
  packages/enhanced/src/lib/container/runtime/EmbedFederationRuntimeModule.ts
  packages/enhanced/src/lib/startup/StartupHelpers.ts
  pnpm-lock.yaml
Labels: change: fix

#3920 feat: upgrade NX to 21.2.3, Storybook to 9.0.9, and TypeScript to 5.8.3
  .changeset/nx-upgrade-21-2-3.md
  .github/workflows/build-and-test.yml
  apps/esbuild/package.json
  apps/reactStorybook/.eslintrc.json
  apps/reactStorybook/.storybook/main.js
  apps/reactStorybook/src/app/RemoteButton.stories.tsx
  apps/rslib-module/.storybook/main.ts
  package.json
  packages/bridge/bridge-react/src/lazy/data-fetch/runtime-plugin.ts
  packages/bridge/bridge-react/src/plugins/lazy-load-component-plugin.ts
  packages/bridge/bridge-react/src/remote/create.tsx
  packages/chrome-devtools/.storybook/main.ts
  packages/chrome-devtools/package.json
  packages/data-prefetch/package.json
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/error-codes/package.json
  packages/esbuild/package.json
  packages/managers/package.json
  packages/manifest/package.json
  packages/modernjs/src/types/index.ts
  packages/node/src/utils/hot-reload.ts
  packages/rsbuild-plugin/package.json
  packages/rsbuild-plugin/project.json
  packages/rspack/package.json
  packages/rspress-plugin/package.json
  packages/rspress-plugin/tsconfig.json
  packages/runtime-core/package.json
  packages/runtime-tools/package.json
  packages/runtime/package.json
  packages/sdk/package.json
  packages/sdk/project.json
  packages/utilities/package.json
  packages/webpack-bundler-runtime/package.json
  pnpm-lock.yaml
  storybook-migration-summary.md
Labels: change: feat

#3903 feat: enhance HoistContainerReferencesPlugin for better module hoisting
  .changeset/enhanced-hoist-container-refs.md
  .github/workflows/build-and-test.yml
  .github/workflows/devtools.yml
  packages/enhanced/src/lib/container/HoistContainerReferencesPlugin.ts
  packages/enhanced/src/lib/container/RemoteModule.ts
  packages/enhanced/test/compiler-unit/container/HoistContainerReferencesPlugin.test.ts
  packages/enhanced/test/unit/container/RemoteModule.test.ts
  packages/rsbuild-plugin/package.json
  packages/rsbuild-plugin/project.json
  packages/rsbuild-plugin/rollup.config.js
  packages/rsbuild-plugin/src/cli/index.ts
  packages/rsbuild-plugin/src/utils/ssr.ts
  packages/rsbuild-plugin/tsconfig.json
  packages/rsbuild-plugin/tsconfig.lib.json
  packages/rsbuild-plugin/tsconfig.spec.json
Labels: change: feat

#3928 fix: buildVersion now correctly reads from project's package.json
  .changeset/fix-build-version-package-json.md
  packages/enhanced/test/configCases/build-version/package-json-version/index.js
  packages/enhanced/test/configCases/build-version/package-json-version/package.json
  packages/enhanced/test/configCases/build-version/package-json-version/test.js
  packages/enhanced/test/configCases/build-version/package-json-version/webpack.config.js
  packages/managers/src/utils.ts
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3939 fix(cli): enable modern TypeScript plugin
  packages/cli/project.json
Labels: change: fix

#3943 fix(manifest): enable modern TypeScript plugin
  packages/manifest/project.json
Labels: change: fix

#3946 fix(utils): enable modern TypeScript plugin
  packages/utilities/project.json
Labels: change: fix

#3947 fix(webpack-bundler-runtime): enable modern TypeScript plugin
  packages/webpack-bundler-runtime/project.json
Labels: change: fix

#3945 fix(runtime-tools): enable modern TypeScript plugin
  packages/runtime-tools/project.json
Labels: change: fix

#3936 fix(runtime-core): enable modern TypeScript plugin
  packages/runtime-core/project.json
Labels: change: fix

#3931 fix: prevent duplicate error prefix in Module Federation Runtime errors (#3926)
  .changeset/prevent-duplicate-error-prefix.md
  CLAUDE.md
  packages/runtime-core/__tests__/logger.spec.ts
  packages/runtime-core/src/utils/logger.ts
Labels: change: fix

#3930 fix: resolve eslint errors in test files and cypress e2e tests
  .changeset/lint-fix-eslint-errors.md
  apps/3000-home/.eslintrc.json
  apps/3001-shop/.eslintrc.json
  apps/3002-checkout/.eslintrc.json
  packages/runtime-core/__tests__/hooks.spec.ts
  packages/runtime/__tests__/hooks.spec.ts
Labels: change: fix

#3963 fix(dts-plugin): update koa to 2.16.2 to fix CVE-2025-8129
  .changeset/fix-koa-security-vulnerability.md
  packages/dts-plugin/package.json
  pnpm-lock.yaml
Labels: change: fix
