Repository module-federation/core, pull requests merged in 2025-05, with the labels that each got.

#3757 fix(rsbuild-plugin): judge options from orignal userConfig
  .changeset/nice-windows-stare.md
  packages/rsbuild-plugin/src/cli/index.ts
Labels: change: fix

#3775 fix: allow extensions other than `.js` for non-manifest entries
  .changeset/bright-beds-obey.md
  packages/runtime-core/src/utils/tool.ts
Labels: change: fix

#3704 perf: add tree shake markers to enable/disable capabilities to reduce bundle size
  .changeset/ai-calm-dog.md
  .changeset/ai-sleepy-cat.md
  .changeset/ai-sleepy-lion.md
  .changeset/rspack-define-env-constants.md
  apps/website-new/docs/en/configure/experiments.mdx
  package.json
  packages/chrome-devtools/project.json
  packages/enhanced/src/lib/container/ModuleFederationPlugin.ts
  packages/rspack/src/ModuleFederationPlugin.ts
  packages/runtime-core/src/core.ts
  packages/runtime-core/src/utils/load.ts
  packages/sdk/src/node.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: perf

#3783 docs(website-new): refactor experiments page for clarity, consistency
  apps/website-new/docs/en/configure/experiments.mdx
Labels: change: docs

#3785 docs: add createLink hook desc and faq
  apps/manifest-demo/webpack-host/runtimePlugin.ts
  apps/website-new/docs/en/guide/troubleshooting/other.mdx
  apps/website-new/docs/en/plugin/dev/index.mdx
  apps/website-new/docs/zh/guide/troubleshooting/other.mdx
  apps/website-new/docs/zh/plugin/dev/index.mdx
Labels: change: docs
