Repository module-federation/core, pull requests merged in 2025-08, with the labels that each got.

#3960 fix(runtime): support TypeScript moduleResolution NodeNext
  .changeset/chatty-avocados-vanish.md
  apps/router-demo/router-remote2-2002/package.json
  apps/router-demo/router-remote2-2002/src/bootstrap.tsx
  apps/router-demo/router-remote2-2002/src/export-App.tsx
  apps/router-demo/router-remote2-2002/tsconfig.json
  packages/runtime/rollup.config.cjs
  pnpm-lock.yaml
Labels: change: fix

#3978 docs: add createRemoteCompoent and createRemoteSSRComponent deprecated documentation
  apps/website-new/docs/en/guide/framework/modernjs.mdx
  apps/website-new/docs/en/practice/bridge/react-bridge.mdx
  apps/website-new/docs/zh/guide/framework/modernjs.mdx
  apps/website-new/docs/zh/practice/bridge/react-bridge.mdx
Labels: change: docs

#3977 feat(dts-plugin): add `family` option
  .changeset/odd-walls-crash.md
  apps/website-new/docs/en/configure/dts.mdx
  packages/dts-plugin/src/core/configurations/hostPlugin.test.ts
  packages/dts-plugin/src/core/configurations/hostPlugin.ts
  packages/dts-plugin/src/core/lib/DTSManager.ts
  packages/dts-plugin/src/core/lib/archiveHandler.ts
  packages/dts-plugin/src/core/lib/utils.spec.ts
  packages/dts-plugin/src/core/lib/utils.ts
  packages/sdk/src/types/plugins/ModuleFederationPlugin.ts
Labels: change: feat

#3953 fix(enhanced): add module factory for EntryDependency when entry is e…
  .changeset/chatty-mangos-play.md
  packages/enhanced/src/lib/container/ContainerPlugin.ts
Labels: change: fix

#3973 fix(bridge-react): Add loading in root component to avoid CLS problem
  packages/bridge/bridge-react/src/remote/component.tsx
  packages/bridge/bridge-react/src/remote/create.tsx
Labels: change: fix

#3982 docs: remove unused constant
  apps/website-new/src/components/en/data-fetch/consumer.mdx
  apps/website-new/src/components/zh/data-fetch/consumer.mdx
Labels: change: docs

#3993 fix: collect rspack cached modules in manifest
  .changeset/strange-years-cross.md
  packages/manifest/src/StatsManager.ts
Labels: change: fix

#3915 feat(enhanced): implement layer-aware module sharing with comprehensive test coverage (PR9)
  .changeset/comprehensive-consume-shared-tests.md
  .changeset/comprehensive-provide-shared-tests.md
  .changeset/pr9-enhanced-layer-support.md
  packages/enhanced/jest.config.ts
  packages/enhanced/src/lib/sharing/ProvideSharedPlugin.ts
  packages/enhanced/test/unit/container/utils.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.apply.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.constructor.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.createConsumeSharedModule.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.exclude-filtering.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.filtering.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.include-filtering.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/ConsumeSharedPlugin.version-resolution.test.ts
  packages/enhanced/test/unit/sharing/ConsumeSharedPlugin/shared-test-utils.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.apply.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.constructor.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.filtering.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.module-matching.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.provideSharedModule.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/ProvideSharedPlugin.shouldProvideSharedModule.test.ts
  packages/enhanced/test/unit/sharing/ProvideSharedPlugin/shared-test-utils.ts
  packages/enhanced/test/unit/sharing/ShareRuntimeModule.test.ts
  packages/enhanced/test/unit/sharing/resolveMatchedConfigs.test.ts
  packages/enhanced/test/unit/sharing/utils.ts
  strip-claude-coauthor.sh
Labels: change: feat

#4002 fix(rsbuild-plugin): invalid type field
  .changeset/rare-laws-sleep.md
  packages/rsbuild-plugin/package.json
Labels: change: fix

#4026 fix(module-federation): resolve source map configuration issues and build failures
  .changeset/smart-insects-marry.md
  packages/cli/rollup.config.js
  packages/data-prefetch/.swcrc
  packages/data-prefetch/rollup.config.cjs
  packages/dts-plugin/.swcrc
  packages/enhanced/.swcrc
  packages/error-codes/.swcrc
  packages/error-codes/rollup.config.js
  packages/esbuild/.swcrc
  packages/esbuild/rollup.config.js
  packages/managers/.swcrc
  packages/managers/rollup.config.js
  packages/manifest/rollup.config.js
  packages/metro-plugin-rnc-cli/project.json
  packages/nextjs-mf/rollup.config.js
  packages/retry-plugin/.swcrc
  packages/rsbuild-plugin/rollup.config.js
  packages/rspack/rollup.config.js
  packages/runtime-core/.swcrc
  packages/runtime-core/rollup.config.cjs
  packages/runtime-plugins/inject-external-runtime-core-plugin/.swcrc
  packages/runtime-plugins/inject-external-runtime-core-plugin/rollup.config.cjs
  packages/runtime-tools/.swcrc
  packages/runtime-tools/rollup.config.cjs
  packages/runtime/.swcrc
  packages/runtime/rollup.config.cjs
  packages/sdk/.swcrc
  packages/sdk/rollup.config.cjs
  packages/typescript/.swcrc
  packages/webpack-bundler-runtime/.swcrc
  packages/webpack-bundler-runtime/rollup.config.cjs
Labels: change: fix
